@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(font.css);
@import url(common.css);

header {
    position: absolute; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    /* header는 무조건 맨위에 있어야 하기 때문에 
       제일 높은 숫자 100을 줌 - 하단 콘텐츠는 100이하의 값을 줌 */
    width: 100%; 
    /* block에 absolute를 줘도 넓이가 없음(100%안됨)
       내부 요소 만큼만 늘어남 */
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin-top: 33px;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    font-size: 23px;
    font-weight: 800;
    color: #fff;
    padding: 37px 25px 30px 25px;
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    border-bottom-right-radius: 190px;
}
.visual .wrapper {
    height: 100vh;
    /* 브라우저의 콘텐츠 높이 100vh로 보는 상대값 */
    /* pic는 wrapper를 기준으로 오른쪽 하단에 absolute로 배치
      단 visual에 height가 있는 상태에서는 wrapper는 콘텐츠가 
      존재하는 만큼만 높이가 잡힘
      그래서 wrapper에 높이를 주고 visual은 그 높이만큼 들어가게하면
      편함. */
    position: relative; /* pic 정렬의 기준 */
}
.visual h2 {
    padding-top: calc(50vh - 179px);
    /* 50vh - 179px을 빼야함, 단위가 안맞음 
        이렇게 단위가 다른 수치를 계산할때 쓰는 식이
        calc()임 단, 반드시 - + 앞뒤로는 여백을 줘야함
        단위를 써야함. */
    text-align: center;
}
.visual .pic {
    position: absolute; /* wrapper를 기준으로 정렬, a::before 정렬의 중심 */
    right: -96px;
    bottom: -94px;
}
.visual .pic a {
    display: block;
    width: 188px;
    height: 188px;
    border-radius: 50%; /* 동그라미는 무조건 50% */
    background-color: #006DBB;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 98px;
    line-height: 1.2;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.15);
}
.visual .pic a::before {
    content: "";
    position: absolute; /* pic를 기준으로 정렬 */
    top: 47px;
    left: 50%;
    transform: translateX(-50%); /* 좌우에 가운데 */
    width: 40px; /* 아이콘 사이즈 */
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00033 35.0003C4.08366 35.0003 3.29894 34.6739 2.64616 34.0212C1.99338 33.3684 1.66699 32.5837 1.66699 31.667V11.667C1.66699 10.7503 1.99338 9.9656 2.64616 9.31283C3.29894 8.66005 4.08366 8.33366 5.00033 8.33366H10.2503L12.3337 6.08366C12.6392 5.75033 13.0073 5.48644 13.4378 5.29199C13.8684 5.09755 14.3198 5.00033 14.792 5.00033H21.667C22.1392 5.00033 22.535 5.16005 22.8545 5.47949C23.1739 5.79894 23.3337 6.19477 23.3337 6.66699C23.3337 7.13921 23.1739 7.53505 22.8545 7.85449C22.535 8.17394 22.1392 8.33366 21.667 8.33366H14.792L11.7503 11.667H5.00033V31.667H31.667V18.3337C31.667 17.8614 31.8267 17.4656 32.1462 17.1462C32.4656 16.8267 32.8614 16.667 33.3337 16.667C33.8059 16.667 34.2017 16.8267 34.5212 17.1462C34.8406 17.4656 35.0003 17.8614 35.0003 18.3337V31.667C35.0003 32.5837 34.6739 33.3684 34.0212 34.0212C33.3684 34.6739 32.5837 35.0003 31.667 35.0003H5.00033ZM31.667 8.33366H30.0003C29.5281 8.33366 29.1323 8.17394 28.8128 7.85449C28.4934 7.53505 28.3337 7.13921 28.3337 6.66699C28.3337 6.19477 28.4934 5.79894 28.8128 5.47949C29.1323 5.16005 29.5281 5.00033 30.0003 5.00033H31.667V3.33366C31.667 2.86144 31.8267 2.4656 32.1462 2.14616C32.4656 1.82671 32.8614 1.66699 33.3337 1.66699C33.8059 1.66699 34.2017 1.82671 34.5212 2.14616C34.8406 2.4656 35.0003 2.86144 35.0003 3.33366V5.00033H36.667C37.1392 5.00033 37.535 5.16005 37.8545 5.47949C38.1739 5.79894 38.3337 6.19477 38.3337 6.66699C38.3337 7.13921 38.1739 7.53505 37.8545 7.85449C37.535 8.17394 37.1392 8.33366 36.667 8.33366H35.0003V10.0003C35.0003 10.4725 34.8406 10.8684 34.5212 11.1878C34.2017 11.5073 33.8059 11.667 33.3337 11.667C32.8614 11.667 32.4656 11.5073 32.1462 11.1878C31.8267 10.8684 31.667 10.4725 31.667 10.0003V8.33366ZM18.3337 29.167C20.417 29.167 22.1878 28.4378 23.6462 26.9795C25.1045 25.5212 25.8337 23.7503 25.8337 21.667C25.8337 19.5837 25.1045 17.8128 23.6462 16.3545C22.1878 14.8962 20.417 14.167 18.3337 14.167C16.2503 14.167 14.4795 14.8962 13.0212 16.3545C11.5628 17.8128 10.8337 19.5837 10.8337 21.667C10.8337 23.7503 11.5628 25.5212 13.0212 26.9795C14.4795 28.4378 16.2503 29.167 18.3337 29.167ZM18.3337 25.8337C17.167 25.8337 16.1809 25.4309 15.3753 24.6253C14.5698 23.8198 14.167 22.8337 14.167 21.667C14.167 20.5003 14.5698 19.5142 15.3753 18.7087C16.1809 17.9031 17.167 17.5003 18.3337 17.5003C19.5003 17.5003 20.4864 17.9031 21.292 18.7087C22.0975 19.5142 22.5003 20.5003 22.5003 21.667C22.5003 22.8337 22.0975 23.8198 21.292 24.6253C20.4864 25.4309 19.5003 25.8337 18.3337 25.8337Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; /* 아이콘 안짤리고 사이즈에 딱 맞게 나오기 */
}
.visual .pic a:hover {
    color: #60E3D5;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.25);
}
.visual .pic a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00033 35.0003C4.08366 35.0003 3.29894 34.6739 2.64616 34.0212C1.99338 33.3684 1.66699 32.5837 1.66699 31.667V11.667C1.66699 10.7503 1.99338 9.9656 2.64616 9.31283C3.29894 8.66005 4.08366 8.33366 5.00033 8.33366H10.2503L12.3337 6.08366C12.6392 5.75033 13.0073 5.48644 13.4378 5.29199C13.8684 5.09755 14.3198 5.00033 14.792 5.00033H21.667C22.1392 5.00033 22.535 5.16005 22.8545 5.47949C23.1739 5.79894 23.3337 6.19477 23.3337 6.66699C23.3337 7.13921 23.1739 7.53505 22.8545 7.85449C22.535 8.17394 22.1392 8.33366 21.667 8.33366H14.792L11.7503 11.667H5.00033V31.667H31.667V18.3337C31.667 17.8614 31.8267 17.4656 32.1462 17.1462C32.4656 16.8267 32.8614 16.667 33.3337 16.667C33.8059 16.667 34.2017 16.8267 34.5212 17.1462C34.8406 17.4656 35.0003 17.8614 35.0003 18.3337V31.667C35.0003 32.5837 34.6739 33.3684 34.0212 34.0212C33.3684 34.6739 32.5837 35.0003 31.667 35.0003H5.00033ZM31.667 8.33366H30.0003C29.5281 8.33366 29.1323 8.17394 28.8128 7.85449C28.4934 7.53505 28.3337 7.13921 28.3337 6.66699C28.3337 6.19477 28.4934 5.79894 28.8128 5.47949C29.1323 5.16005 29.5281 5.00033 30.0003 5.00033H31.667V3.33366C31.667 2.86144 31.8267 2.4656 32.1462 2.14616C32.4656 1.82671 32.8614 1.66699 33.3337 1.66699C33.8059 1.66699 34.2017 1.82671 34.5212 2.14616C34.8406 2.4656 35.0003 2.86144 35.0003 3.33366V5.00033H36.667C37.1392 5.00033 37.535 5.16005 37.8545 5.47949C38.1739 5.79894 38.3337 6.19477 38.3337 6.66699C38.3337 7.13921 38.1739 7.53505 37.8545 7.85449C37.535 8.17394 37.1392 8.33366 36.667 8.33366H35.0003V10.0003C35.0003 10.4725 34.8406 10.8684 34.5212 11.1878C34.2017 11.5073 33.8059 11.667 33.3337 11.667C32.8614 11.667 32.4656 11.5073 32.1462 11.1878C31.8267 10.8684 31.667 10.4725 31.667 10.0003V8.33366ZM18.3337 29.167C20.417 29.167 22.1878 28.4378 23.6462 26.9795C25.1045 25.5212 25.8337 23.7503 25.8337 21.667C25.8337 19.5837 25.1045 17.8128 23.6462 16.3545C22.1878 14.8962 20.417 14.167 18.3337 14.167C16.2503 14.167 14.4795 14.8962 13.0212 16.3545C11.5628 17.8128 10.8337 19.5837 10.8337 21.667C10.8337 23.7503 11.5628 25.5212 13.0212 26.9795C14.4795 28.4378 16.2503 29.167 18.3337 29.167ZM18.3337 25.8337C17.167 25.8337 16.1809 25.4309 15.3753 24.6253C14.5698 23.8198 14.167 22.8337 14.167 21.667C14.167 20.5003 14.5698 19.5142 15.3753 18.7087C16.1809 17.9031 17.167 17.5003 18.3337 17.5003C19.5003 17.5003 20.4864 17.9031 21.292 18.7087C22.0975 19.5142 22.5003 20.5003 22.5003 21.667C22.5003 22.8337 22.0975 23.8198 21.292 24.6253C20.4864 25.4309 19.5003 25.8337 18.3337 25.8337Z' fill='%2360E3D5'/%3E%3C/svg%3E%0A");
}

.culture {
    margin: 170px 0 0 0;
}
.culture .wrapper {
    position: relative; /* more의 정렬의 기준 */
}
.culture .tit h2 {
    margin-bottom: 12px;
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.culture .list {
    margin: 43px 0 0 0;
}
.culture .list ul {
    display: flex;
    justify-content: space-between;
}
.culture .list ul li {
    width: 404px;
}
.culture .list ul li a {
    display: block;
}
.culture .list ul li a .photo {
    overflow: hidden; /* photo 영역 밖에 나가는 이미지 숨김 */
    font-size: 0;
    line-height: 0;
}
.culture .list ul li a .photo img {
    transition: 0.5s; /* 만약에 속성이 변경된다면 1초동안 자연스럽게 변경 */
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.culture .list ul li a h3 {
    margin: 33px 0 13px 0;
    color: #1d1d1d;
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.culture .list ul li a span {
    position: relative; /* before/after 정렬의 기준 */
    display: inline-block;
    padding-right: 28px; 
    /* 글자의 오른쪽에 아이콘이 들어가면 그 아이콘이 들어갈 영역까지 
       padding으로 늘려놓음 */
    margin: 13px 0 0 0;
    color: #8E8E8E;
    font-size: 15px;
}
.culture .list ul li a span::after {
    content: "";
    position: absolute;
    right: 0;
    top: -1px;
    width: 21px; /* 아이콘 크기 */
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.025 10.5002L7.61245 7.0877C7.45203 6.92728 7.37183 6.72311 7.37183 6.4752C7.37183 6.22728 7.45203 6.02311 7.61245 5.8627C7.77287 5.70228 7.97703 5.62207 8.22495 5.62207C8.47287 5.62207 8.67703 5.70228 8.83745 5.8627L12.8625 9.8877C12.95 9.9752 13.0119 10.07 13.0484 10.1721C13.0848 10.2742 13.1031 10.3835 13.1031 10.5002C13.1031 10.6169 13.0848 10.7262 13.0484 10.8283C13.0119 10.9304 12.95 11.0252 12.8625 11.1127L8.83745 15.1377C8.67703 15.2981 8.47287 15.3783 8.22495 15.3783C7.97703 15.3783 7.77287 15.2981 7.61245 15.1377C7.45203 14.9773 7.37183 14.7731 7.37183 14.5252C7.37183 14.2773 7.45203 14.0731 7.61245 13.9127L11.025 10.5002Z' fill='%23B8B8B8'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.culture .more {
    position: absolute; 
    /* wrapper를 기준으로 정렬, a::after 정렬의 기준 */
    right: 0;
    top: 80px;
}
.culture .more a {
    display: block;
    padding: 5px 27px 5px 5px;
    color: #8E8E8E;
}
.culture .more a::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 0;
    top: 5px;
    width: 21px; /* 아이콘의 넓이 */
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16669 10.8337H5.00002C4.76391 10.8337 4.56599 10.7538 4.40627 10.5941C4.24655 10.4344 4.16669 10.2364 4.16669 10.0003C4.16669 9.76421 4.24655 9.5663 4.40627 9.40658C4.56599 9.24685 4.76391 9.16699 5.00002 9.16699H9.16669V5.00033C9.16669 4.76421 9.24655 4.5663 9.40627 4.40658C9.56599 4.24685 9.76391 4.16699 10 4.16699C10.2361 4.16699 10.434 4.24685 10.5938 4.40658C10.7535 4.5663 10.8334 4.76421 10.8334 5.00033V9.16699H15C15.2361 9.16699 15.434 9.24685 15.5938 9.40658C15.7535 9.5663 15.8334 9.76421 15.8334 10.0003C15.8334 10.2364 15.7535 10.4344 15.5938 10.5941C15.434 10.7538 15.2361 10.8337 15 10.8337H10.8334V15.0003C10.8334 15.2364 10.7535 15.4344 10.5938 15.5941C10.434 15.7538 10.2361 15.8337 10 15.8337C9.76391 15.8337 9.56599 15.7538 9.40627 15.5941C9.24655 15.4344 9.16669 15.2364 9.16669 15.0003V10.8337Z' fill='%23B8B8B8'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: transform 1s; 
}
.culture .more a:hover {
    color: #006DBB;
}
.culture .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16669 10.8337H5.00002C4.76391 10.8337 4.56599 10.7538 4.40627 10.5941C4.24655 10.4344 4.16669 10.2364 4.16669 10.0003C4.16669 9.76421 4.24655 9.5663 4.40627 9.40658C4.56599 9.24685 4.76391 9.16699 5.00002 9.16699H9.16669V5.00033C9.16669 4.76421 9.24655 4.5663 9.40627 4.40658C9.56599 4.24685 9.76391 4.16699 10 4.16699C10.2361 4.16699 10.434 4.24685 10.5938 4.40658C10.7535 4.5663 10.8334 4.76421 10.8334 5.00033V9.16699H15C15.2361 9.16699 15.434 9.24685 15.5938 9.40658C15.7535 9.5663 15.8334 9.76421 15.8334 10.0003C15.8334 10.2364 15.7535 10.4344 15.5938 10.5941C15.434 10.7538 15.2361 10.8337 15 10.8337H10.8334V15.0003C10.8334 15.2364 10.7535 15.4344 10.5938 15.5941C10.434 15.7538 10.2361 15.8337 10 15.8337C9.76391 15.8337 9.56599 15.7538 9.40627 15.5941C9.24655 15.4344 9.16669 15.2364 9.16669 15.0003V10.8337Z' fill='%23006DBB'/%3E%3C/svg%3E%0A");
    transform: rotate(180deg);
}

.tour {
    background-color: #F7F7F7;
    padding: 122px 0 113px 0;
    margin: 94px 0 0 0;
}
.tour .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.tour .tit h2 {
    margin-bottom: 12px;
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.tour .list {
    margin: 43px 0 0 0;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
}
.tour .list ul li {
    width: 190px;
}
.tour .list ul li a {
    display: block;
    height: 354px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 260px 0 0 0;
}
.tour .list ul li.bg1 a {
    background-image: url(../images/tour_bg1.jpg);
}
.tour .list ul li.bg2 a {
    background-image: url(../images/tour_bg2.jpg);
}
.tour .list ul li.bg3 a {
    background-image: url(../images/tour_bg3.jpg);
}
.tour .list ul li.bg4 a {
    background-image: url(../images/tour_bg4.jpg);
}
.tour .list ul li a h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.tour .list ul li a p {
    margin: 13px 0;
    display: none; /* 숨기기 */
}
.tour .list ul li a span {
    padding: 0 27px 0 0;
    position: relative; /* after 정렬의 기준 */
    font-size: 15px;
    display: none; /* 숨기기 */
}
.tour .list ul li a span::after {
    content: "";
    position: absolute;
    right: 0;
    top: -2px;
    width: 21px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0242 10.5002L7.61172 7.0877C7.4513 6.92728 7.37109 6.72311 7.37109 6.4752C7.37109 6.22728 7.4513 6.02311 7.61172 5.8627C7.77214 5.70228 7.9763 5.62207 8.22422 5.62207C8.47214 5.62207 8.6763 5.70228 8.83672 5.8627L12.8617 9.8877C12.9492 9.9752 13.0112 10.07 13.0477 10.1721C13.0841 10.2742 13.1023 10.3835 13.1023 10.5002C13.1023 10.6169 13.0841 10.7262 13.0477 10.8283C13.0112 10.9304 12.9492 11.0252 12.8617 11.1127L8.83672 15.1377C8.6763 15.2981 8.47214 15.3783 8.22422 15.3783C7.9763 15.3783 7.77214 15.2981 7.61172 15.1377C7.4513 14.9773 7.37109 14.7731 7.37109 14.5252C7.37109 14.2773 7.4513 14.0731 7.61172 13.9127L11.0242 10.5002Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
/* li에 오버해서 on클래스가 추가 되었을때 */
.tour .list ul li.on {
    width: 654px;
}
.tour .list ul li.on a {
    text-align: left;
    padding: 218px 0 0 36px;
}
.tour .list ul li.on a h3 {
    font-size: 25px;
}
.tour .list ul li.on a p {
    display: block; 
    /* display:none으로 숨김 요소는 none이외의 다른 값만 주면됨 */
}
.tour .list ul li.on a span {
    display: inline-block;
    /* display:none으로 숨김 요소는 none이외의 다른 값만 주면됨 */
}
.tour .more {
    position: absolute; /* a::after 정렬의 기준 */
    right: 0;
    top: 80px;
}
.tour .more a {
    display: block;
    padding: 5px 29px 5px 5px;
    color: #8E8E8E;
}
.tour .more a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 4px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 13H6C5.71667 13 5.47917 12.9042 5.2875 12.7125C5.09583 12.5208 5 12.2833 5 12C5 11.7167 5.09583 11.4792 5.2875 11.2875C5.47917 11.0958 5.71667 11 6 11H11V6C11 5.71667 11.0958 5.47917 11.2875 5.2875C11.4792 5.09583 11.7167 5 12 5C12.2833 5 12.5208 5.09583 12.7125 5.2875C12.9042 5.47917 13 5.71667 13 6V11H18C18.2833 11 18.5208 11.0958 18.7125 11.2875C18.9042 11.4792 19 11.7167 19 12C19 12.2833 18.9042 12.5208 18.7125 12.7125C18.5208 12.9042 18.2833 13 18 13H13V18C13 18.2833 12.9042 18.5208 12.7125 18.7125C12.5208 18.9042 12.2833 19 12 19C11.7167 19 11.4792 18.9042 11.2875 18.7125C11.0958 18.5208 11 18.2833 11 18V13Z' fill='%23B8B8B8'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    transition: 1s; 
    /* 변화가 있을 예정... 그때 변화를 부드럽게 처리 */
}
.tour .more a:hover {
    color: #006DBB;
}
.tour .more a:hover::after {
    transform: rotate(360deg);
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 13H6C5.71667 13 5.47917 12.9042 5.2875 12.7125C5.09583 12.5208 5 12.2833 5 12C5 11.7167 5.09583 11.4792 5.2875 11.2875C5.47917 11.0958 5.71667 11 6 11H11V6C11 5.71667 11.0958 5.47917 11.2875 5.2875C11.4792 5.09583 11.7167 5 12 5C12.2833 5 12.5208 5.09583 12.7125 5.2875C12.9042 5.47917 13 5.71667 13 6V11H18C18.2833 11 18.5208 11.0958 18.7125 11.2875C18.9042 11.4792 19 11.7167 19 12C19 12.2833 18.9042 12.5208 18.7125 12.7125C18.5208 12.9042 18.2833 13 18 13H13V18C13 18.2833 12.9042 18.5208 12.7125 18.7125C12.5208 18.9042 12.2833 19 12 19C11.7167 19 11.4792 18.9042 11.2875 18.7125C11.0958 18.5208 11 18.2833 11 18V13Z' fill='%23006DBB'/%3E%3C/svg%3E%0A");
}

.community {
    height: 1087px;
    background: url(../images/community_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.community .wrapper {
    display: flex;
    justify-content: space-between;
}
.community .tit {
    margin: 175px 0 0 0;
}
.community .tit h2 {
    margin: 5px 0 5px 0;
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.community .inner {
    margin: 175px 0 0 0;
    display: flex;
}
.community .notice {
    width: 550px;
    height: 366px;
    background-color: rgba(38, 61, 83, 0.7);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    padding: 42px 41px 0 41px;
    /* 높이를 특정했기 때문에 아래 여백은 필요없음 */
    position: relative; /* more 정렬의 기준 */
}
.community .notice h3 {
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.community .notice .list {
    margin: 28px 0 0 0;
}
.community .notice .list ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 위아래 가운데 */
    padding: 6px 0 7px 0;
}
.community .notice .list ul li a strong {
    position: relative; /* strong:: after 정렬의 기준 */
}
.community .notice .list ul li a:hover strong {
    font-weight: 800;
}
.community .notice .list ul li a:hover strong::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.2);
    content: "";
}
.community .notice .list ul li a span {
    color: rgba(255,255,255,0.8);
    font-size: 15px;
}
.community .notice .more {
    position: absolute; /* notice를 기준으로 정렬, a::before의 정렬의 기준 */
    right: 47px;
    top: 47px;
}
.community .notice .more a {
    display: block;

    /* 글자 대신에 아이콘만 들어간 경우 */
    width: 24px; /* 아이콘의 크기 */
    height: 24px;
    font-size: 0; /* html코드에 쓴 글자 안보이게 하기 */
    line-height: 0;
}
.community .notice .more a::before {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%; /* a에 이미지 아이콘 사이즈가 입력됨, 그걸 꽉채우면 됨 */
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 13H6C5.71667 13 5.47917 12.9042 5.2875 12.7125C5.09583 12.5208 5 12.2833 5 12C5 11.7167 5.09583 11.4792 5.2875 11.2875C5.47917 11.0958 5.71667 11 6 11H11V6C11 5.71667 11.0958 5.47917 11.2875 5.2875C11.4792 5.09583 11.7167 5 12 5C12.2833 5 12.5208 5.09583 12.7125 5.2875C12.9042 5.47917 13 5.71667 13 6V11H18C18.2833 11 18.5208 11.0958 18.7125 11.2875C18.9042 11.4792 19 11.7167 19 12C19 12.2833 18.9042 12.5208 18.7125 12.7125C18.5208 12.9042 18.2833 13 18 13H13V18C13 18.2833 12.9042 18.5208 12.7125 18.7125C12.5208 18.9042 12.2833 19 12 19C11.7167 19 11.4792 18.9042 11.2875 18.7125C11.0958 18.5208 11 18.2833 11 18V13Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    transition: 1s; 
    /* 오버 후에 class명이 추가된 이후 
       속성에 변화가 있으면 1초동안 자연스럽게 변경 */
}
.community .notice .more a:hover::before {
    transform: rotate(360deg);
}
.community .link {
    margin: 82px 0 0 24px;
    width: 314px; /* li 두개가 들어가는 넓이를 줌 */
}
.community .link ul {
    display: flex;
    flex-wrap: wrap; 
    /* 줄바꿈 허용 - flex는 무조건 한줄로 배치하려고 해서 
       두줄 이상으로 구현할때 반드시 줘야함 */
    gap: 12px; /* flex 정렬되는 요소들 사이 여백 */
}
.community .link ul li {
    width: 151px;
}
.community .link ul li a {
    height: 136px;
    display: block;
    background-color: rgba(38, 61, 83, 0.7);
    border-radius: 20px;
    backdrop-filter: blur(5px);

    padding: 23px 0 0 27px; /* 글자를 안쪽으로 밀어내려고 */
    font-size: 22px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
    position: relative; /* after 정렬의 기준 */
}
.community .link ul li a:hover {
    background-color: #006DBB;
}
.community .link ul li a::after {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    right: 25px;
    bottom: 22px;
    width: 26px; /* 아이콘 크기 */
    height: 26px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.community .link ul li.ico1 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.279 20.583L2.22067 13.3247C2.1665 13.108 2.18907 12.8552 2.28838 12.5663C2.38768 12.2775 2.59984 12.0788 2.92484 11.9705L4.33317 11.483V6.49967C4.33317 5.90384 4.54532 5.39377 4.96963 4.96947C5.39393 4.54516 5.904 4.33301 6.49984 4.33301H9.74984V2.16634C9.74984 1.8594 9.85366 1.60211 10.0613 1.39447C10.2689 1.18683 10.5262 1.08301 10.8332 1.08301H15.1665C15.4734 1.08301 15.7307 1.18683 15.9384 1.39447C16.146 1.60211 16.2498 1.8594 16.2498 2.16634V4.33301H19.4998C20.0957 4.33301 20.6057 4.54516 21.03 4.96947C21.4543 5.39377 21.6665 5.90384 21.6665 6.49967V11.483L23.0748 11.9705C23.454 12.115 23.6797 12.3271 23.7519 12.607C23.8241 12.8868 23.8332 13.1261 23.779 13.3247L21.7207 20.583C20.9984 20.583 20.3304 20.4431 19.7165 20.1632C19.1026 19.8834 18.5429 19.5268 18.0373 19.0934C17.8387 18.8948 17.604 18.7955 17.3332 18.7955C17.0623 18.7955 16.8276 18.8948 16.629 19.0934C16.1234 19.5268 15.5637 19.8834 14.9498 20.1632C14.3359 20.4431 13.6859 20.583 12.9998 20.583C12.8193 20.583 12.6478 20.574 12.4853 20.5559C12.3228 20.5379 12.1603 20.5108 11.9978 20.4747C11.4741 20.3663 10.9776 20.1768 10.5082 19.9059C10.0387 19.6351 9.60539 19.3191 9.20817 18.958C9.06373 18.8136 8.87866 18.7413 8.65296 18.7413C8.42727 18.7413 8.2422 18.8136 8.09775 18.958C7.5922 19.4455 7.00539 19.8382 6.33734 20.1361C5.66928 20.434 4.98317 20.583 4.279 20.583ZM12.9998 24.9163C12.2596 24.9163 11.5238 24.8261 10.7925 24.6455C10.0613 24.465 9.35261 24.1941 8.6665 23.833C7.98039 24.1941 7.27623 24.465 6.554 24.6455C5.83178 24.8261 5.0915 24.9163 4.33317 24.9163H3.24984C2.94289 24.9163 2.6856 24.8125 2.47796 24.6049C2.27032 24.3972 2.1665 24.14 2.1665 23.833C2.1665 23.5261 2.27032 23.2688 2.47796 23.0611C2.6856 22.8535 2.94289 22.7497 3.24984 22.7497H4.33317C4.98317 22.7497 5.63317 22.6594 6.28317 22.4788C6.93317 22.2983 7.53803 22.0365 8.09775 21.6934C8.27831 21.5851 8.46789 21.5309 8.6665 21.5309C8.86511 21.5309 9.0547 21.5851 9.23525 21.6934C9.63248 21.9462 10.0884 22.1538 10.603 22.3163C11.1175 22.4788 11.6096 22.5872 12.079 22.6413C12.2234 22.6594 12.3769 22.6729 12.5394 22.682C12.7019 22.691 12.8554 22.6955 12.9998 22.6955C13.6498 22.6955 14.2998 22.6143 14.9498 22.4518C15.5998 22.2893 16.2047 22.0365 16.7644 21.6934C16.945 21.5851 17.1346 21.5309 17.3332 21.5309C17.5318 21.5309 17.7214 21.5851 17.9019 21.6934C18.4616 22.0545 19.0665 22.3209 19.7165 22.4924C20.3665 22.6639 21.0165 22.7497 21.6665 22.7497H22.7498C23.0568 22.7497 23.3141 22.8535 23.5217 23.0611C23.7293 23.2688 23.8332 23.5261 23.8332 23.833C23.8332 24.14 23.7293 24.3972 23.5217 24.6049C23.3141 24.8125 23.0568 24.9163 22.7498 24.9163H21.6665C20.9082 24.9163 20.1679 24.8261 19.4457 24.6455C18.7234 24.465 18.0193 24.1941 17.3332 23.833C16.6471 24.1941 15.9384 24.465 15.2071 24.6455C14.4759 24.8261 13.7401 24.9163 12.9998 24.9163ZM6.49984 10.7788L12.3228 8.88301C12.5394 8.81079 12.7651 8.77467 12.9998 8.77467C13.2346 8.77467 13.4603 8.81079 13.6769 8.88301L19.4998 10.7788V6.49967H6.49984V10.7788ZM12.9998 18.4163C13.5415 18.4163 14.0471 18.2674 14.5165 17.9695C14.9859 17.6715 15.4012 17.324 15.7623 16.9268C16.1957 16.4573 16.7283 16.2271 17.3603 16.2361C17.9922 16.2452 18.5158 16.4844 18.9311 16.9538C19.1297 17.1525 19.3283 17.3465 19.5269 17.5361C19.7255 17.7257 19.9512 17.8927 20.204 18.0372L21.3957 13.7038L12.9998 10.9413L4.54984 13.7038L5.79567 17.983C6.03039 17.8386 6.24706 17.6851 6.44567 17.5226C6.64428 17.3601 6.84289 17.1795 7.0415 16.9809C7.49289 16.5115 8.03907 16.2722 8.68005 16.2632C9.32102 16.2542 9.85817 16.4844 10.2915 16.9538C10.5443 17.2247 10.8151 17.482 11.104 17.7257C11.3929 17.9695 11.7179 18.1545 12.079 18.2809C12.2234 18.3351 12.3724 18.3712 12.5259 18.3893C12.6794 18.4073 12.8373 18.4163 12.9998 18.4163Z' fill='white' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
}
.community .link ul li.ico2 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.6665 21.938C6.89706 21.2519 5.37137 20.2362 4.08942 18.8911C2.80748 17.546 2.1665 15.9435 2.1665 14.0838C2.1665 13.7769 2.27032 13.5196 2.47796 13.3119C2.6856 13.1043 2.94289 13.0005 3.24984 13.0005H4.33317V5.30881C4.33317 5.03797 4.42345 4.80325 4.604 4.60464C4.78456 4.40603 5.01025 4.28867 5.28109 4.25256L22.9394 2.27547C23.1922 2.23936 23.4044 2.30256 23.5759 2.46506C23.7474 2.62756 23.8332 2.8352 23.8332 3.08797C23.8332 3.28658 23.761 3.46263 23.6165 3.6161C23.4721 3.76957 23.3005 3.85533 23.1019 3.87339L11.3748 5.20047V7.04214H23.0207C23.2554 7.04214 23.4495 7.11888 23.603 7.27235C23.7564 7.42582 23.8332 7.61992 23.8332 7.85464C23.8332 8.08936 23.7564 8.28346 23.603 8.43693C23.4495 8.5904 23.2554 8.66714 23.0207 8.66714H11.3748V13.0005H22.7498C23.0568 13.0005 23.3141 13.1043 23.5217 13.3119C23.7294 13.5196 23.8332 13.7769 23.8332 14.0838C23.8332 15.9435 23.1922 17.546 21.9103 18.8911C20.6283 20.2362 19.1026 21.2519 17.3332 21.938V22.7505C17.3332 23.0574 17.2294 23.3147 17.0217 23.5224C16.8141 23.73 16.5568 23.8338 16.2498 23.8338H9.74984C9.44289 23.8338 9.1856 23.73 8.97796 23.5224C8.77032 23.3147 8.6665 23.0574 8.6665 22.7505V21.938ZM8.6665 7.04214H9.74984V5.39006L8.6665 5.49839V7.04214ZM5.95817 7.04214H7.0415V5.68797L5.95817 5.79631V7.04214ZM8.6665 13.0005H9.74984V8.66714H8.6665V13.0005ZM5.95817 13.0005H7.0415V8.66714H5.95817V13.0005ZM10.8332 21.6671H15.1665V20.4755L16.5207 19.9338C17.6221 19.5005 18.5971 18.8776 19.4457 18.0651C20.2943 17.2526 20.9082 16.2866 21.2873 15.1671H4.71234C5.0915 16.2866 5.70539 17.2571 6.554 18.0786C7.40262 18.9001 8.37762 19.5185 9.479 19.9338L10.8332 20.4755V21.6671Z' fill='white' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
}
.community .link ul li.ico3 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.58351 21.6663C6.98767 21.6663 6.4776 21.4541 6.0533 21.0298C5.62899 20.6055 5.41684 20.0954 5.41684 19.4996V11.7538L3.25017 13.4059C2.9974 13.5864 2.72656 13.6632 2.43767 13.6361C2.14878 13.609 1.91406 13.4691 1.73351 13.2163C1.55295 12.9635 1.48073 12.6927 1.51684 12.4038C1.55295 12.1149 1.6974 11.8802 1.95017 11.6996L11.6731 4.25169C11.8717 4.10725 12.0839 3.99891 12.3095 3.92669C12.5352 3.85447 12.7655 3.81836 13.0002 3.81836C13.2349 3.81836 13.4651 3.85447 13.6908 3.92669C13.9165 3.99891 14.1286 4.10725 14.3273 4.25169L17.3335 6.55378V5.95794C17.3335 5.50655 17.4915 5.12287 17.8075 4.8069C18.1234 4.49093 18.5071 4.33294 18.9585 4.33294C19.4099 4.33294 19.7936 4.49093 20.1095 4.8069C20.4255 5.12287 20.5835 5.50655 20.5835 5.95794V9.04544L24.0502 11.6996C24.2849 11.8802 24.4248 12.1149 24.47 12.4038C24.5151 12.6927 24.4474 12.9635 24.2668 13.2163C24.0863 13.4691 23.8516 13.609 23.5627 13.6361C23.2738 13.6632 23.003 13.5864 22.7502 13.4059L20.5835 11.7538V19.4996C20.5835 20.0954 20.3714 20.6055 19.947 21.0298C19.5227 21.4541 19.0127 21.6663 18.4168 21.6663H16.2502C15.6543 21.6663 15.1443 21.4541 14.72 21.0298C14.2957 20.6055 14.0835 20.0954 14.0835 19.4996V15.1663H11.9168V19.4996C11.9168 20.0954 11.7047 20.6055 11.2804 21.0298C10.8561 21.4541 10.346 21.6663 9.75017 21.6663H7.58351ZM7.58351 19.4996H9.75017V15.1663C9.75017 14.5704 9.96233 14.0604 10.3866 13.6361C10.8109 13.2118 11.321 12.9996 11.9168 12.9996H14.0835C14.6793 12.9996 15.1894 13.2118 15.6137 13.6361C16.038 14.0604 16.2502 14.5704 16.2502 15.1663V19.4996H18.4168V10.1017L13.0002 5.98503L7.58351 10.1017V19.4996ZM10.8335 10.86H15.1668C15.1668 10.2822 14.9502 9.80829 14.5168 9.43815C14.0835 9.06801 13.578 8.88294 13.0002 8.88294C12.4224 8.88294 11.9168 9.06801 11.4835 9.43815C11.0502 9.80829 10.8335 10.2822 10.8335 10.86Z' fill='white' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
}
.community .link ul li.ico4 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.146 23.8331C4.42377 23.8331 3.846 23.5397 3.41266 22.9529C2.97933 22.3661 2.83489 21.7026 2.97933 20.9623C3.17794 20.0415 3.31336 19.1206 3.38558 18.1998C3.4578 17.279 3.50294 16.3581 3.521 15.4373C2.78072 15.1484 2.1894 14.688 1.74704 14.0561C1.30468 13.4241 1.0835 12.7109 1.0835 11.9165V11.1581C1.0835 10.7429 1.20537 10.3637 1.44912 10.0206C1.69287 9.67758 2.01336 9.42481 2.41058 9.26231C4.12586 8.57619 5.74183 7.72758 7.2585 6.71647C8.77516 5.70536 10.2377 4.60397 11.646 3.4123C11.8446 3.2498 12.0568 3.12793 12.2825 3.04668C12.5081 2.96543 12.7474 2.9248 13.0002 2.9248C13.2529 2.9248 13.4922 2.96543 13.7179 3.04668C13.9436 3.12793 14.1557 3.2498 14.3543 3.4123C15.7627 4.60397 17.2252 5.70536 18.7418 6.71647C20.2585 7.72758 21.8745 8.57619 23.5897 9.26231C23.987 9.42481 24.3075 9.67758 24.5512 10.0206C24.795 10.3637 24.9168 10.7429 24.9168 11.1581V11.9165C24.9168 12.7109 24.6956 13.4241 24.2533 14.0561C23.8109 14.688 23.2196 15.1484 22.4793 15.4373C22.4974 16.3581 22.5425 17.279 22.6147 18.1998C22.687 19.1206 22.8224 20.0415 23.021 20.9623C23.1654 21.7026 23.021 22.3661 22.5877 22.9529C22.1543 23.5397 21.5766 23.8331 20.8543 23.8331H5.146ZM6.39183 9.74981H19.6085C18.4168 9.08175 17.2748 8.35953 16.1825 7.58314C15.0901 6.80675 14.0293 5.97619 13.0002 5.09147C11.971 5.97619 10.9102 6.80675 9.81787 7.58314C8.72551 8.35953 7.5835 9.08175 6.39183 9.74981ZM15.7085 13.5415C16.1599 13.5415 16.5436 13.3835 16.8595 13.0675C17.1755 12.7515 17.3335 12.3679 17.3335 11.9165H14.0835C14.0835 12.3679 14.2415 12.7515 14.5575 13.0675C14.8734 13.3835 15.2571 13.5415 15.7085 13.5415ZM10.2918 13.5415C10.7432 13.5415 11.1269 13.3835 11.4429 13.0675C11.7588 12.7515 11.9168 12.3679 11.9168 11.9165H8.66683C8.66683 12.3679 8.82482 12.7515 9.14079 13.0675C9.45676 13.3835 9.84044 13.5415 10.2918 13.5415ZM4.87516 13.5415C5.32655 13.5415 5.71023 13.3835 6.0262 13.0675C6.34218 12.7515 6.50016 12.3679 6.50016 11.9165H3.25016C3.25016 12.3679 3.40815 12.7515 3.72412 13.0675C4.04009 13.3835 4.42377 13.5415 4.87516 13.5415ZM5.03766 21.6665H7.93558C8.09808 20.5831 8.22447 19.5088 8.31475 18.4436C8.40502 17.3783 8.47725 16.304 8.53141 15.2206C8.35086 15.1304 8.18384 15.0356 8.03037 14.9363C7.8769 14.837 7.72794 14.7151 7.5835 14.5706C7.33072 14.8234 7.04183 15.0401 6.71683 15.2206C6.39183 15.4012 6.04877 15.5366 5.68766 15.6269C5.65155 16.6561 5.58836 17.6717 5.49808 18.6738C5.4078 19.6758 5.25433 20.6734 5.03766 21.6665ZM10.1293 21.6665H15.871C15.7266 20.6734 15.6137 19.6804 15.5325 18.6873C15.4512 17.6943 15.3835 16.6922 15.3293 15.6811C14.8779 15.6449 14.4536 15.5321 14.0564 15.3425C13.6592 15.1529 13.3071 14.9047 13.0002 14.5977C12.6932 14.9047 12.3411 15.1529 11.9439 15.3425C11.5467 15.5321 11.1224 15.6449 10.671 15.6811C10.6168 16.6922 10.5491 17.6943 10.4679 18.6873C10.3866 19.6804 10.2738 20.6734 10.1293 21.6665ZM18.0647 21.6665H20.9627C20.746 20.6734 20.5925 19.6758 20.5022 18.6738C20.412 17.6717 20.3488 16.6561 20.3127 15.6269C19.9516 15.5366 19.6085 15.4057 19.2835 15.2342C18.9585 15.0627 18.6696 14.8415 18.4168 14.5706C18.2724 14.7151 18.1234 14.837 17.97 14.9363C17.8165 15.0356 17.6495 15.1304 17.4689 15.2206C17.5231 16.304 17.5998 17.3783 17.6991 18.4436C17.7984 19.5088 17.9203 20.5831 18.0647 21.6665ZM21.1252 13.5415C21.5766 13.5415 21.9602 13.3835 22.2762 13.0675C22.5922 12.7515 22.7502 12.3679 22.7502 11.9165H19.5002C19.5002 12.3679 19.6581 12.7515 19.9741 13.0675C20.2901 13.3835 20.6738 13.5415 21.1252 13.5415Z' fill='white' fill-opacity='0.5'/%3E%3C/svg%3E%0A");
}

footer {
    background-color: #2D2D2D;
    padding: 60px 0 73px 0;
    color: rgba(255,255,255,0.8);
}
footer .f_nav ul {
    display: flex;
    gap: 44px; 
    /* flex로 정렬되는 li사이의 여백 - 하위버전에서는 구현이 안될지도 모름 */
}
footer .f_nav ul li {
    position: relative; /* after 정렬의 기준 */
}
footer .f_nav ul li::after {
    content: "";
    position: absolute; /* li를 기준으로 */
    right: -23px;
    top: 5px;
    width: 1px;
    height: 11px;
    background-color: rgba(255,255,255,0.3);
}
footer .f_nav ul li:last-child::after {
    display: none; /* 마지막 li의 선을 숨김 */
}
footer .f_nav ul li.privacy a {
    color: #fff;
    font-weight: 800;
}
footer .f_info {
    margin: 27px 0 27px 0;
    display: flex;
    gap: 15px;
}
footer .copyright {
    color: rgba(255,255,255,0.6);
}
footer .copyright .license {
    position: relative; /* after 정렬의 기준 */
    display: inline-block;
    /* license를 문자의 길이에 맞게 넓이가 들어가게 설정
       after도 글자 길이에 맞게 그려짐
       license가 block요소라 넓이가 100%라서
       inline-block 으로 변경해서 글자의 길이에 맞게 설정 */
    margin: 6px 0 0 0;
}
footer .copyright .license::after {
    content: "";
    position: absolute; /* license를 기준으로 정렬 */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255,0.2);
}