@font-face {
	font-family: 'ptd';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../fonts/Pretendard-ExtraBold.woff2) format('woff2'), url(../fonts/Pretendard-ExtraBold.woff) format('woff');
}
@font-face {
	font-family: 'ptd';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
body {
    /* woff,woff2 파일을 불러서 서체를 정의한 경우
       내가 정의한 이름으로 서체를 불러주면 되고,
       , sans-serif 를 추가해서 고딕체를 쓰고 있음을 정의 */
    font-family: 'ptd', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.4;
}
li {
    /* li앞에 동그라미 삭제 */
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
strong {
    font-weight: inherit;
}
a {
    color: inherit;
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*
        하나의 요소에 width/height와 padding이 
        동시에 들어가면 넓이/높이가 늘어남
        이걸 막는 코드 
        --- 입력한 넓이/높이 내부로 여백이 들어가도록 수정
    */
}

.wrapper {
    width: 1260px;
    margin: 0 auto;
}

.color h1 {
    font-size: 45px;
    font-weight: 800;
    color: #1d1d1d;
    margin: 124px 0 16px 0;
}
.color .list ul {
    display: flex;
    justify-content: space-between;
}
.color .list ul li {
    width: 404px;
}
.color .list ul li h2 {
    font-size: 30px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.2;
    margin: 73px 0 5px 0;
}
.color .list ul li h2 strong {
    color: #999999;
}
.color .list ul li .code {
    color: #fff;
    font-size: 20px;
    font-weight: 800;
    margin: 26px 0 0 0;
    /* 외부여백 - 다른요소와 사이에 여백을 줌 */
    padding: 39px 0 39px 40px;
    /* 내부여백 - 배경색을 늘림 */
    border-radius: 20px;
}

/*
    .code   .c1   -- 띄어쓰는 code 안에 있는 c1 클래스 요소
    <div class="code">
        <div class="c1"></div>
    </div>

    .code.c1   -- 붙여쓰면 하나의 요소가 code라는 이름과 c1이라는
                 클래스명을 동시에 가지고 있는 것
    <div class="code c1">
    </div>
*/
.color .list ul li .code.c1 {
    background-color: #034ea2;
}
.color .list ul li .code.c2 {
    background-color: #0265ac;
}
.color .list ul li .code.c3 {
    background-color: #1428a0;
}

.down h1 {
    font-size: 45px;
    font-weight: 800;
    color: #1d1d1d;
    margin: 124px 0 16px 0;
}
.down .list {
    margin: 25px 0 0 0;
}
.down .list ul {
    display: flex;
    justify-content: space-between;
}
.down .list ul li {
    width: 618px;
}
.down .list ul li .photo {
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
    /* 영역 밖으로 나오는 이미지를 안보이게 하기 */
    line-height: 0;
    font-size: 0;
    /* 이미지 하단에는 행간이 들어감. 이를 없애는 방법
       감싸는 요소에 font-size:0; line-height:0;을 줘서
       행간을 없애면 됨. */
}
.down .list ul li .photo img {
    width: 100%;
    /* 감싸있는 photo의 넓이에 100% 라는 이야기
      이미지의 크기를 기준으로 100%가 아니라
      감싸는 요소의 넓이를 기준으로 100%
    -- 이미지의 특징 : 넓이를 바꾸면 비율에 맞게 
       높이가 자동 조정됨 */
}
.down .list ul li .more {
    margin: 20px 0 0 0;
}
.down .list ul li .more a {
    border: 1px solid #ccc;
    border-radius: 20px;
    display: block;
    font-size: 20px;
    font-weight: 800;
    padding: 18px 0; 
    text-align: center;
    /* 여백을 두개만 쓰면 첫번째는 위아래 두번째는 좌우여백 */
}

.pass h1 {
    font-size: 45px;
    font-weight: 800;
    color: #1d1d1d;
    margin: 124px 0 16px 0;
}
.pass .list {
    margin: 33px 0 0 0;
}
.pass .list ul {
    display: flex;
    justify-content: space-between;
}
.pass .list ul li {
    width: 404px;
    height: 242px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 55px 0 0 40px;
}
.pass .list ul li strong {
    color: #034ea2;
}
.pass .list ul li h2 {
    font-size: 30px;
    font-weight: 800;
    color: #1d1d1d;
    margin: 11px 0 30px 0;
}

body {
    margin: 0 0 500px 0;
}