/*
 * layout.css
 * header/footer 모든 페이지의 공통 스타일 적용
*/
.skipnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.skipnav a {
    position: absolute; /* skipnav를 기준으로 정렬 */
    left: 0;
    top: -100px;
    width: 100%;
    display: block;
    background-color: #0063AF;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.skipnav a.menu {
    background-color: #00AF00;
}
.skipnav a:focus {
    top: 0;
}

header {
    position: fixed; /* 무조건 body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    padding: 0 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 위아래 가운데 */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header .logo a {
    display: block;
    width: 10.05em;
    height: 2.35em;
    color: transparent;
    text-indent: -9999px;
    position: relative; /* before 정렬의 기준 */
}
header .logo a::before {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/common/logo_w.svg) no-repeat center center / contain;
}
@media screen and (min-width:1025px){ /* 메뉴 1025이상일때 */
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_close,
    header .gnb .gnb_wrap .m_lang {
        display: none; /* 모바일에서만 보임 */
    }
    /* 1차메뉴 */
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        width: 7.5em;
        text-align: center;
        position: relative; /* ul.depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: var(--header-h);
        font-size: 1.25rem;
        font-weight: 700;
    }
    /* 2차메뉴 */
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 { 
        display: none;
        position: absolute;
        left: 0;
        top: var(--header-h);
        width: 100%;
        padding-top: 1.25em; /* 1차메뉴와 2차메뉴 사이의 여백 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 0.3em;
        color: #3d3d3d;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        color: var(--main-color);
        font-weight: 700;
        text-decoration: underline;
    }

    header .tnb {
        display: flex;
        gap: 0.12em;
    }
    header .tnb .search button,
    header .tnb .lang button {
        width: 2.37em;
        height: 2.37em;

        color: transparent;
        text-indent: -9999px;
        position: relative; /* before 정렬의 기준 */
    }
    header .tnb .search button::before,
    header .tnb .lang button::before {
        content: "";
        position: absolute; /* button을 기준으로 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .tnb .search button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.66667 17.3333C6.24444 17.3333 4.19444 16.4944 2.51667 14.8167C0.838889 13.1389 0 11.0889 0 8.66667C0 6.24444 0.838889 4.19444 2.51667 2.51667C4.19444 0.838889 6.24444 0 8.66667 0C11.0889 0 13.1389 0.838889 14.8167 2.51667C16.4944 4.19444 17.3333 6.24444 17.3333 8.66667C17.3333 9.64445 17.1778 10.5667 16.8667 11.4333C16.5556 12.3 16.1333 13.0667 15.6 13.7333L23.0667 21.2C23.3111 21.4444 23.4333 21.7556 23.4333 22.1333C23.4333 22.5111 23.3111 22.8222 23.0667 23.0667C22.8222 23.3111 22.5111 23.4333 22.1333 23.4333C21.7556 23.4333 21.4444 23.3111 21.2 23.0667L13.7333 15.6C13.0667 16.1333 12.3 16.5556 11.4333 16.8667C10.5667 17.1778 9.64445 17.3333 8.66667 17.3333ZM8.66667 14.6667C10.3333 14.6667 11.75 14.0833 12.9167 12.9167C14.0833 11.75 14.6667 10.3333 14.6667 8.66667C14.6667 7 14.0833 5.58333 12.9167 4.41667C11.75 3.25 10.3333 2.66667 8.66667 2.66667C7 2.66667 5.58333 3.25 4.41667 4.41667C3.25 5.58333 2.66667 7 2.66667 8.66667C2.66667 10.3333 3.25 11.75 4.41667 12.9167C5.58333 14.0833 7 14.6667 8.66667 14.6667Z' fill='white'/%3E%3C/svg%3E%0A");
        background-size: 1.35em;
    }
    header .tnb .lang button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9993 27.3337C12.1771 27.3337 10.4549 26.9837 8.83268 26.2837C7.21046 25.5837 5.79379 24.6281 4.58268 23.417C3.37157 22.2059 2.41602 20.7892 1.71602 19.167C1.01602 17.5448 0.666016 15.8225 0.666016 14.0003C0.666016 12.1559 1.01602 10.4281 1.71602 8.81699C2.41602 7.20588 3.37157 5.79477 4.58268 4.58366C5.79379 3.37255 7.21046 2.41699 8.83268 1.71699C10.4549 1.01699 12.1771 0.666992 13.9993 0.666992C15.8438 0.666992 17.5716 1.01699 19.1827 1.71699C20.7938 2.41699 22.2049 3.37255 23.416 4.58366C24.6271 5.79477 25.5827 7.20588 26.2827 8.81699C26.9827 10.4281 27.3327 12.1559 27.3327 14.0003C27.3327 15.8225 26.9827 17.5448 26.2827 19.167C25.5827 20.7892 24.6271 22.2059 23.416 23.417C22.2049 24.6281 20.7938 25.5837 19.1827 26.2837C17.5716 26.9837 15.8438 27.3337 13.9993 27.3337ZM13.9993 24.6003C14.5771 23.8003 15.0771 22.967 15.4993 22.1003C15.9216 21.2337 16.266 20.3114 16.5327 19.3337H11.466C11.7327 20.3114 12.0771 21.2337 12.4993 22.1003C12.9216 22.967 13.4216 23.8003 13.9993 24.6003ZM10.5327 24.067C10.1327 23.3337 9.78268 22.5725 9.48268 21.7837C9.18268 20.9948 8.93268 20.1781 8.73268 19.3337H4.79935C5.44379 20.4448 6.24935 21.4114 7.21602 22.2337C8.18268 23.0559 9.28824 23.667 10.5327 24.067ZM17.466 24.067C18.7105 23.667 19.816 23.0559 20.7827 22.2337C21.7493 21.4114 22.5549 20.4448 23.1993 19.3337H19.266C19.066 20.1781 18.816 20.9948 18.516 21.7837C18.216 22.5725 17.866 23.3337 17.466 24.067ZM3.66602 16.667H8.19935C8.13268 16.2225 8.08268 15.7837 8.04935 15.3503C8.01602 14.917 7.99935 14.467 7.99935 14.0003C7.99935 13.5337 8.01602 13.0837 8.04935 12.6503C8.08268 12.217 8.13268 11.7781 8.19935 11.3337H3.66602C3.5549 11.7781 3.47157 12.217 3.41602 12.6503C3.36046 13.0837 3.33268 13.5337 3.33268 14.0003C3.33268 14.467 3.36046 14.917 3.41602 15.3503C3.47157 15.7837 3.5549 16.2225 3.66602 16.667ZM10.866 16.667H17.1327C17.1993 16.2225 17.2493 15.7837 17.2827 15.3503C17.316 14.917 17.3327 14.467 17.3327 14.0003C17.3327 13.5337 17.316 13.0837 17.2827 12.6503C17.2493 12.217 17.1993 11.7781 17.1327 11.3337H10.866C10.7993 11.7781 10.7493 12.217 10.716 12.6503C10.6827 13.0837 10.666 13.5337 10.666 14.0003C10.666 14.467 10.6827 14.917 10.716 15.3503C10.7493 15.7837 10.7993 16.2225 10.866 16.667ZM19.7993 16.667H24.3327C24.4438 16.2225 24.5271 15.7837 24.5827 15.3503C24.6382 14.917 24.666 14.467 24.666 14.0003C24.666 13.5337 24.6382 13.0837 24.5827 12.6503C24.5271 12.217 24.4438 11.7781 24.3327 11.3337H19.7993C19.866 11.7781 19.916 12.217 19.9493 12.6503C19.9827 13.0837 19.9993 13.5337 19.9993 14.0003C19.9993 14.467 19.9827 14.917 19.9493 15.3503C19.916 15.7837 19.866 16.2225 19.7993 16.667ZM19.266 8.66699H23.1993C22.5549 7.55588 21.7493 6.58921 20.7827 5.76699C19.816 4.94477 18.7105 4.33366 17.466 3.93366C17.866 4.66699 18.216 5.4281 18.516 6.21699C18.816 7.00588 19.066 7.82255 19.266 8.66699ZM11.466 8.66699H16.5327C16.266 7.68921 15.9216 6.76699 15.4993 5.90033C15.0771 5.03366 14.5771 4.20033 13.9993 3.40033C13.4216 4.20033 12.9216 5.03366 12.4993 5.90033C12.0771 6.76699 11.7327 7.68921 11.466 8.66699ZM4.79935 8.66699H8.73268C8.93268 7.82255 9.18268 7.00588 9.48268 6.21699C9.78268 5.4281 10.1327 4.66699 10.5327 3.93366C9.28824 4.33366 8.18268 4.94477 7.21602 5.76699C6.24935 6.58921 5.44379 7.55588 4.79935 8.66699Z' fill='white'/%3E%3C/svg%3E%0A");
        background-size: 1.55em;
    }


    /* 2차메뉴가 열렸을때 - 메뉴에 마우스를 올렸을때 */
    header.menu_pc {
        color: var(--title-txt-color);
    }
    header.menu_pc::before {
        content: "";
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 19.25em;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    header.menu_pc::after {
        content: "";
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: rgba(0,0,0,0.2);
    }
    header.menu_pc .logo a::before {
        background-image: url(../images/common/logo.svg);
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--main-color);
        font-weight: 700;
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li.over > a::before {
        content: "";
        position: absolute; /* li를 기준으로 정렬 */
        left: 0;
        top: calc(var(--header-h) - 1px);
        width: 100%;
        height: 3px;
        background-color: var(--main-color);
    }
    header.menu_pc .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block; /* 나타남 */
    }
    header.menu_pc .tnb .search button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.66667 17.3333C6.24444 17.3333 4.19444 16.4944 2.51667 14.8167C0.838889 13.1389 0 11.0889 0 8.66667C0 6.24444 0.838889 4.19444 2.51667 2.51667C4.19444 0.838889 6.24444 0 8.66667 0C11.0889 0 13.1389 0.838889 14.8167 2.51667C16.4944 4.19444 17.3333 6.24444 17.3333 8.66667C17.3333 9.64445 17.1778 10.5667 16.8667 11.4333C16.5556 12.3 16.1333 13.0667 15.6 13.7333L23.0667 21.2C23.3111 21.4444 23.4333 21.7556 23.4333 22.1333C23.4333 22.5111 23.3111 22.8222 23.0667 23.0667C22.8222 23.3111 22.5111 23.4333 22.1333 23.4333C21.7556 23.4333 21.4444 23.3111 21.2 23.0667L13.7333 15.6C13.0667 16.1333 12.3 16.5556 11.4333 16.8667C10.5667 17.1778 9.64445 17.3333 8.66667 17.3333ZM8.66667 14.6667C10.3333 14.6667 11.75 14.0833 12.9167 12.9167C14.0833 11.75 14.6667 10.3333 14.6667 8.66667C14.6667 7 14.0833 5.58333 12.9167 4.41667C11.75 3.25 10.3333 2.66667 8.66667 2.66667C7 2.66667 5.58333 3.25 4.41667 4.41667C3.25 5.58333 2.66667 7 2.66667 8.66667C2.66667 10.3333 3.25 11.75 4.41667 12.9167C5.58333 14.0833 7 14.6667 8.66667 14.6667Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
    }
    header.menu_pc .tnb .lang button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9993 27.3337C12.1771 27.3337 10.4549 26.9837 8.83268 26.2837C7.21046 25.5837 5.79379 24.6281 4.58268 23.417C3.37157 22.2059 2.41602 20.7892 1.71602 19.167C1.01602 17.5448 0.666016 15.8225 0.666016 14.0003C0.666016 12.1559 1.01602 10.4281 1.71602 8.81699C2.41602 7.20588 3.37157 5.79477 4.58268 4.58366C5.79379 3.37255 7.21046 2.41699 8.83268 1.71699C10.4549 1.01699 12.1771 0.666992 13.9993 0.666992C15.8438 0.666992 17.5716 1.01699 19.1827 1.71699C20.7938 2.41699 22.2049 3.37255 23.416 4.58366C24.6271 5.79477 25.5827 7.20588 26.2827 8.81699C26.9827 10.4281 27.3327 12.1559 27.3327 14.0003C27.3327 15.8225 26.9827 17.5448 26.2827 19.167C25.5827 20.7892 24.6271 22.2059 23.416 23.417C22.2049 24.6281 20.7938 25.5837 19.1827 26.2837C17.5716 26.9837 15.8438 27.3337 13.9993 27.3337ZM13.9993 24.6003C14.5771 23.8003 15.0771 22.967 15.4993 22.1003C15.9216 21.2337 16.266 20.3114 16.5327 19.3337H11.466C11.7327 20.3114 12.0771 21.2337 12.4993 22.1003C12.9216 22.967 13.4216 23.8003 13.9993 24.6003ZM10.5327 24.067C10.1327 23.3337 9.78268 22.5725 9.48268 21.7837C9.18268 20.9948 8.93268 20.1781 8.73268 19.3337H4.79935C5.44379 20.4448 6.24935 21.4114 7.21602 22.2337C8.18268 23.0559 9.28824 23.667 10.5327 24.067ZM17.466 24.067C18.7105 23.667 19.816 23.0559 20.7827 22.2337C21.7493 21.4114 22.5549 20.4448 23.1993 19.3337H19.266C19.066 20.1781 18.816 20.9948 18.516 21.7837C18.216 22.5725 17.866 23.3337 17.466 24.067ZM3.66602 16.667H8.19935C8.13268 16.2225 8.08268 15.7837 8.04935 15.3503C8.01602 14.917 7.99935 14.467 7.99935 14.0003C7.99935 13.5337 8.01602 13.0837 8.04935 12.6503C8.08268 12.217 8.13268 11.7781 8.19935 11.3337H3.66602C3.5549 11.7781 3.47157 12.217 3.41602 12.6503C3.36046 13.0837 3.33268 13.5337 3.33268 14.0003C3.33268 14.467 3.36046 14.917 3.41602 15.3503C3.47157 15.7837 3.5549 16.2225 3.66602 16.667ZM10.866 16.667H17.1327C17.1993 16.2225 17.2493 15.7837 17.2827 15.3503C17.316 14.917 17.3327 14.467 17.3327 14.0003C17.3327 13.5337 17.316 13.0837 17.2827 12.6503C17.2493 12.217 17.1993 11.7781 17.1327 11.3337H10.866C10.7993 11.7781 10.7493 12.217 10.716 12.6503C10.6827 13.0837 10.666 13.5337 10.666 14.0003C10.666 14.467 10.6827 14.917 10.716 15.3503C10.7493 15.7837 10.7993 16.2225 10.866 16.667ZM19.7993 16.667H24.3327C24.4438 16.2225 24.5271 15.7837 24.5827 15.3503C24.6382 14.917 24.666 14.467 24.666 14.0003C24.666 13.5337 24.6382 13.0837 24.5827 12.6503C24.5271 12.217 24.4438 11.7781 24.3327 11.3337H19.7993C19.866 11.7781 19.916 12.217 19.9493 12.6503C19.9827 13.0837 19.9993 13.5337 19.9993 14.0003C19.9993 14.467 19.9827 14.917 19.9493 15.3503C19.916 15.7837 19.866 16.2225 19.7993 16.667ZM19.266 8.66699H23.1993C22.5549 7.55588 21.7493 6.58921 20.7827 5.76699C19.816 4.94477 18.7105 4.33366 17.466 3.93366C17.866 4.66699 18.216 5.4281 18.516 6.21699C18.816 7.00588 19.066 7.82255 19.266 8.66699ZM11.466 8.66699H16.5327C16.266 7.68921 15.9216 6.76699 15.4993 5.90033C15.0771 5.03366 14.5771 4.20033 13.9993 3.40033C13.4216 4.20033 12.9216 5.03366 12.4993 5.90033C12.0771 6.76699 11.7327 7.68921 11.466 8.66699ZM4.79935 8.66699H8.73268C8.93268 7.82255 9.18268 7.00588 9.48268 6.21699C9.78268 5.4281 10.1327 4.66699 10.5327 3.93366C9.28824 4.33366 8.18268 4.94477 7.21602 5.76699C6.24935 6.58921 5.44379 7.55588 4.79935 8.66699Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
    }

    /* 배경이 흰색이라 header 글자가 검은색으로 나올때 */
    header.dark {
        color: #1d1d1d;
        border-color: rgba(0,0,0,0.2);
    }
    header.dark .logo a::before {
        background-image: url(../images/common/logo.svg);
    }
    header.dark .tnb .search button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.66667 17.3333C6.24444 17.3333 4.19444 16.4944 2.51667 14.8167C0.838889 13.1389 0 11.0889 0 8.66667C0 6.24444 0.838889 4.19444 2.51667 2.51667C4.19444 0.838889 6.24444 0 8.66667 0C11.0889 0 13.1389 0.838889 14.8167 2.51667C16.4944 4.19444 17.3333 6.24444 17.3333 8.66667C17.3333 9.64445 17.1778 10.5667 16.8667 11.4333C16.5556 12.3 16.1333 13.0667 15.6 13.7333L23.0667 21.2C23.3111 21.4444 23.4333 21.7556 23.4333 22.1333C23.4333 22.5111 23.3111 22.8222 23.0667 23.0667C22.8222 23.3111 22.5111 23.4333 22.1333 23.4333C21.7556 23.4333 21.4444 23.3111 21.2 23.0667L13.7333 15.6C13.0667 16.1333 12.3 16.5556 11.4333 16.8667C10.5667 17.1778 9.64445 17.3333 8.66667 17.3333ZM8.66667 14.6667C10.3333 14.6667 11.75 14.0833 12.9167 12.9167C14.0833 11.75 14.6667 10.3333 14.6667 8.66667C14.6667 7 14.0833 5.58333 12.9167 4.41667C11.75 3.25 10.3333 2.66667 8.66667 2.66667C7 2.66667 5.58333 3.25 4.41667 4.41667C3.25 5.58333 2.66667 7 2.66667 8.66667C2.66667 10.3333 3.25 11.75 4.41667 12.9167C5.58333 14.0833 7 14.6667 8.66667 14.6667Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
    }
    header.dark .tnb .lang button::before {
        background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9993 27.3337C12.1771 27.3337 10.4549 26.9837 8.83268 26.2837C7.21046 25.5837 5.79379 24.6281 4.58268 23.417C3.37157 22.2059 2.41602 20.7892 1.71602 19.167C1.01602 17.5448 0.666016 15.8225 0.666016 14.0003C0.666016 12.1559 1.01602 10.4281 1.71602 8.81699C2.41602 7.20588 3.37157 5.79477 4.58268 4.58366C5.79379 3.37255 7.21046 2.41699 8.83268 1.71699C10.4549 1.01699 12.1771 0.666992 13.9993 0.666992C15.8438 0.666992 17.5716 1.01699 19.1827 1.71699C20.7938 2.41699 22.2049 3.37255 23.416 4.58366C24.6271 5.79477 25.5827 7.20588 26.2827 8.81699C26.9827 10.4281 27.3327 12.1559 27.3327 14.0003C27.3327 15.8225 26.9827 17.5448 26.2827 19.167C25.5827 20.7892 24.6271 22.2059 23.416 23.417C22.2049 24.6281 20.7938 25.5837 19.1827 26.2837C17.5716 26.9837 15.8438 27.3337 13.9993 27.3337ZM13.9993 24.6003C14.5771 23.8003 15.0771 22.967 15.4993 22.1003C15.9216 21.2337 16.266 20.3114 16.5327 19.3337H11.466C11.7327 20.3114 12.0771 21.2337 12.4993 22.1003C12.9216 22.967 13.4216 23.8003 13.9993 24.6003ZM10.5327 24.067C10.1327 23.3337 9.78268 22.5725 9.48268 21.7837C9.18268 20.9948 8.93268 20.1781 8.73268 19.3337H4.79935C5.44379 20.4448 6.24935 21.4114 7.21602 22.2337C8.18268 23.0559 9.28824 23.667 10.5327 24.067ZM17.466 24.067C18.7105 23.667 19.816 23.0559 20.7827 22.2337C21.7493 21.4114 22.5549 20.4448 23.1993 19.3337H19.266C19.066 20.1781 18.816 20.9948 18.516 21.7837C18.216 22.5725 17.866 23.3337 17.466 24.067ZM3.66602 16.667H8.19935C8.13268 16.2225 8.08268 15.7837 8.04935 15.3503C8.01602 14.917 7.99935 14.467 7.99935 14.0003C7.99935 13.5337 8.01602 13.0837 8.04935 12.6503C8.08268 12.217 8.13268 11.7781 8.19935 11.3337H3.66602C3.5549 11.7781 3.47157 12.217 3.41602 12.6503C3.36046 13.0837 3.33268 13.5337 3.33268 14.0003C3.33268 14.467 3.36046 14.917 3.41602 15.3503C3.47157 15.7837 3.5549 16.2225 3.66602 16.667ZM10.866 16.667H17.1327C17.1993 16.2225 17.2493 15.7837 17.2827 15.3503C17.316 14.917 17.3327 14.467 17.3327 14.0003C17.3327 13.5337 17.316 13.0837 17.2827 12.6503C17.2493 12.217 17.1993 11.7781 17.1327 11.3337H10.866C10.7993 11.7781 10.7493 12.217 10.716 12.6503C10.6827 13.0837 10.666 13.5337 10.666 14.0003C10.666 14.467 10.6827 14.917 10.716 15.3503C10.7493 15.7837 10.7993 16.2225 10.866 16.667ZM19.7993 16.667H24.3327C24.4438 16.2225 24.5271 15.7837 24.5827 15.3503C24.6382 14.917 24.666 14.467 24.666 14.0003C24.666 13.5337 24.6382 13.0837 24.5827 12.6503C24.5271 12.217 24.4438 11.7781 24.3327 11.3337H19.7993C19.866 11.7781 19.916 12.217 19.9493 12.6503C19.9827 13.0837 19.9993 13.5337 19.9993 14.0003C19.9993 14.467 19.9827 14.917 19.9493 15.3503C19.916 15.7837 19.866 16.2225 19.7993 16.667ZM19.266 8.66699H23.1993C22.5549 7.55588 21.7493 6.58921 20.7827 5.76699C19.816 4.94477 18.7105 4.33366 17.466 3.93366C17.866 4.66699 18.216 5.4281 18.516 6.21699C18.816 7.00588 19.066 7.82255 19.266 8.66699ZM11.466 8.66699H16.5327C16.266 7.68921 15.9216 6.76699 15.4993 5.90033C15.0771 5.03366 14.5771 4.20033 13.9993 3.40033C13.4216 4.20033 12.9216 5.03366 12.4993 5.90033C12.0771 6.76699 11.7327 7.68921 11.466 8.66699ZM4.79935 8.66699H8.73268C8.93268 7.82255 9.18268 7.00588 9.48268 6.21699C9.78268 5.4281 10.1327 4.66699 10.5327 3.93366C9.28824 4.33366 8.18268 4.94477 7.21602 5.76699C6.24935 6.58921 5.44379 7.55588 4.79935 8.66699Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
    }
}/* medida */

@media screen and (max-width:1024px){
    header {
        padding-right: 0;
    }
    header .gnb .gnb_open {
        width: var(--header-h);
        height: var(--header-h);
        color: transparent;
        text-indent: -9999px;
        position: relative; /* before 정렬의 기준 */
    }
    header .gnb .gnb_open::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 1.7em;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 12C0.716667 12 0.479167 11.9042 0.2875 11.7125C0.0958332 11.5208 0 11.2833 0 11C0 10.7167 0.0958332 10.4792 0.2875 10.2875C0.479167 10.0958 0.716667 10 1 10H17C17.2833 10 17.5208 10.0958 17.7125 10.2875C17.9042 10.4792 18 10.7167 18 11C18 11.2833 17.9042 11.5208 17.7125 11.7125C17.5208 11.9042 17.2833 12 17 12H1ZM1 7C0.716667 7 0.479167 6.90417 0.2875 6.7125C0.0958332 6.52083 0 6.28333 0 6C0 5.71667 0.0958332 5.47917 0.2875 5.2875C0.479167 5.09583 0.716667 5 1 5H12C12.2833 5 12.5208 5.09583 12.7125 5.2875C12.9042 5.47917 13 5.71667 13 6C13 6.28333 12.9042 6.52083 12.7125 6.7125C12.5208 6.90417 12.2833 7 12 7H1ZM1 2C0.716667 2 0.479167 1.90417 0.2875 1.7125C0.0958332 1.52083 0 1.28333 0 1C0 0.716667 0.0958332 0.479167 0.2875 0.2875C0.479167 0.0958333 0.716667 0 1 0H17C17.2833 0 17.5208 0.0958333 17.7125 0.2875C17.9042 0.479167 18 0.716667 18 1C18 1.28333 17.9042 1.52083 17.7125 1.7125C17.5208 1.90417 17.2833 2 17 2H1Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none;
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        z-index: 100;
        width: 100%;
        height: 100dvh;
        max-width: 23em;
        background-color: #2D2D2D;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: var(--header-h);
        height: calc(100dvh - var(--header-h));
        overflow-y: auto;
        background-color: #fff;
        color: #1d1d1d;
    }
    header .tnb {
        position: absolute; /* header를 기준으로 정렬 */
        right: var(--header-h);
        top: 0;
    }
    header .tnb .search button {
        width: 2.4em;
        height: var(--header-h);
        color: transparent;
        text-indent: -9999px;
        position: relative; /* before 정렬의 기준 */
    }
    header .tnb .search button::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 1.5em;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.70833 12.6667C5.04306 12.6667 3.63368 12.0899 2.48021 10.9365C1.32674 9.78299 0.75 8.37361 0.75 6.70833C0.75 5.04306 1.32674 3.63368 2.48021 2.48021C3.63368 1.32674 5.04306 0.75 6.70833 0.75C8.37361 0.75 9.78299 1.32674 10.9365 2.48021C12.0899 3.63368 12.6667 5.04306 12.6667 6.70833C12.6667 7.38056 12.5597 8.01458 12.3458 8.61042C12.1319 9.20625 11.8417 9.73333 11.475 10.1917L16.6083 15.325C16.7764 15.4931 16.8604 15.7069 16.8604 15.9667C16.8604 16.2264 16.7764 16.4403 16.6083 16.6083C16.4403 16.7764 16.2264 16.8604 15.9667 16.8604C15.7069 16.8604 15.4931 16.7764 15.325 16.6083L10.1917 11.475C9.73333 11.8417 9.20625 12.1319 8.61042 12.3458C8.01458 12.5597 7.38056 12.6667 6.70833 12.6667ZM6.70833 10.8333C7.85417 10.8333 8.82812 10.4323 9.63021 9.63021C10.4323 8.82812 10.8333 7.85417 10.8333 6.70833C10.8333 5.5625 10.4323 4.58854 9.63021 3.78646C8.82812 2.98438 7.85417 2.58333 6.70833 2.58333C5.5625 2.58333 4.58854 2.98438 3.78646 3.78646C2.98438 4.58854 2.58333 5.5625 2.58333 6.70833C2.58333 7.85417 2.98438 8.82812 3.78646 9.63021C4.58854 10.4323 5.5625 10.8333 6.70833 10.8333Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    header .tnb .lang {
        display: none; /* 숨김 */
    }

    /* 모바일 메뉴가 열렸을때 */
    header.menu_mo .gnb .gnb_wrap {
        display: block; /* 나타남 */
    }
}/* medida */
@media screen and (max-width:768px){
    header .logo a {
        width: 6.4em;
        height: 1.5em;
    }
    header .gnb .gnb_open::before {
        background-size: 1.3em;
    }
    header .tnb .search button::before {
        background-size: 1.2em;
    }
}