@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(font.css);
@import url(common.css);

header {
    position: absolute; /* body를 기준으로 */
    left: 0;
    top: 0;
    z-index: 100; 
    /* position 속성을 갖은 요소는 서로 위아래 순서가 생김
       header는 맨위에 둘 요소라 제일 높은값 100을 줌 */
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 25px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    line-height: 94px;
    /* 메뉴가 정확한 높이를 갖고 위아래 가운데 정렬이 됨
       하위에 메뉴로 이동할때 정확한 높이가 안잡히면 out됨 
       header 높이 값을 줌 */
    font-size: 22px;
    font-family: 'Gmarket Sans';
    font-weight: 500;
    padding: 6px 30px 0 30px;
}
header .tnb {
    display: flex;
    margin: 33px 0 0 0;
}
header .tnb .mypage a {
    display: block;
    width: 36px;
    height: 36px;

    /* 글자 지우고 아이콘으로 대체 */
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
header .tnb .mypage a::before {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 17.5381C16.5563 17.5381 15.3204 17.0241 14.2924 15.9961C13.2641 14.9678 12.75 13.7318 12.75 12.2881C12.75 10.8443 13.2641 9.60846 14.2924 8.58046C15.3204 7.55221 16.5563 7.03809 18 7.03809C19.4438 7.03809 20.6796 7.55221 21.7076 8.58046C22.7359 9.60846 23.25 10.8443 23.25 12.2881C23.25 13.7318 22.7359 14.9678 21.7076 15.9961C20.6796 17.0241 19.4438 17.5381 18 17.5381ZM6.75 26.6825V25.6265C6.75 24.892 6.9495 24.2117 7.3485 23.5857C7.7475 22.9597 8.28075 22.4785 8.94825 22.142C10.4307 21.4152 11.9264 20.8701 13.4351 20.5066C14.9439 20.1431 16.4655 19.9613 18 19.9613C19.5345 19.9613 21.0561 20.1431 22.5649 20.5066C24.0736 20.8701 25.5693 21.4152 27.0518 22.142C27.7193 22.4785 28.2525 22.9597 28.6515 23.5857C29.0505 24.2117 29.25 24.892 29.25 25.6265V26.6825C29.25 27.315 29.0284 27.853 28.5851 28.2965C28.1419 28.7397 27.6039 28.9613 26.9711 28.9613H9.02888C8.39613 28.9613 7.85812 28.7397 7.41487 28.2965C6.97162 27.853 6.75 27.315 6.75 26.6825ZM9 26.7113H27V25.6265C27 25.3227 26.912 25.0415 26.736 24.7827C26.56 24.5242 26.3211 24.3132 26.0194 24.1497C24.7269 23.5132 23.4091 23.031 22.0661 22.703C20.7229 22.3752 19.3675 22.2113 18 22.2113C16.6325 22.2113 15.2771 22.3752 13.9339 22.703C12.5909 23.031 11.2731 23.5132 9.98062 24.1497C9.67887 24.3132 9.44 24.5242 9.264 24.7827C9.088 25.0415 9 25.3227 9 25.6265V26.7113ZM18 15.2881C18.825 15.2881 19.5313 14.9943 20.1188 14.4068C20.7063 13.8193 21 13.1131 21 12.2881C21 11.4631 20.7063 10.7568 20.1188 10.1693C19.5313 9.58184 18.825 9.28809 18 9.28809C17.175 9.28809 16.4688 9.58184 15.8813 10.1693C15.2938 10.7568 15 11.4631 15 12.2881C15 13.1131 15.2938 13.8193 15.8813 14.4068C16.4688 14.9943 17.175 15.2881 18 15.2881Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .tnb .global {
    margin: 0 0 0 19px;
}
header .tnb .global button {
    width: 29px;
    height: 29px;

    /* 글자 지우고 아이콘으로 대체 */
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
header .tnb .global button::before {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5002 25.9788C12.9263 25.9788 11.4411 25.6772 10.0444 25.0738C8.6478 24.4704 7.4298 23.649 6.39043 22.6094C5.35086 21.57 4.5294 20.352 3.92604 18.9554C3.32268 17.5588 3.021 16.0735 3.021 14.4997C3.021 12.9133 3.32268 11.425 3.92604 10.0346C4.5294 8.64419 5.35086 7.42931 6.39043 6.38994C7.4298 5.35038 8.6478 4.52891 10.0444 3.92555C11.4411 3.32219 12.9263 3.02051 14.5002 3.02051C16.0865 3.02051 17.5749 3.32219 18.9653 3.92555C20.3556 4.52891 21.5705 5.35038 22.6099 6.38994C23.6495 7.42931 24.4709 8.64419 25.0743 10.0346C25.6776 11.425 25.9793 12.9133 25.9793 14.4997C25.9793 16.0735 25.6776 17.5588 25.0743 18.9554C24.4709 20.352 23.6495 21.57 22.6099 22.6094C21.5705 23.649 20.3556 24.4704 18.9653 25.0738C17.5749 25.6772 16.0865 25.9788 14.5002 25.9788ZM14.5002 24.1407C15.1168 23.3228 15.6358 22.4979 16.0571 21.666C16.4784 20.8341 16.8216 19.9247 17.0866 18.9379H11.9137C12.1943 19.9557 12.5414 20.8806 12.955 21.7125C13.3685 22.5445 13.8835 23.3538 14.5002 24.1407ZM12.1602 23.8084C11.697 23.1438 11.2811 22.3883 10.9123 21.5418C10.5436 20.6952 10.257 19.8272 10.0526 18.9379H5.95362C6.59182 20.1927 7.44772 21.247 8.52133 22.1007C9.59493 22.9542 10.8079 23.5234 12.1602 23.8084ZM16.8401 23.8084C18.1924 23.5234 19.4054 22.9542 20.479 22.1007C21.5526 21.247 22.4085 20.1927 23.0467 18.9379H18.9477C18.7045 19.8349 18.3984 20.7067 18.0297 21.5533C17.6612 22.4 17.2646 23.1516 16.8401 23.8084ZM5.19358 17.1254H9.68556C9.60964 16.6763 9.55456 16.2359 9.52032 15.8044C9.48628 15.373 9.46927 14.9381 9.46927 14.4997C9.46927 14.0613 9.48628 13.6264 9.52032 13.195C9.55456 12.7634 9.60964 12.3231 9.68556 11.874H5.19358C5.07738 12.2844 4.98836 12.7111 4.92654 13.1542C4.86451 13.5973 4.8335 14.0457 4.8335 14.4997C4.8335 14.9536 4.86451 15.4021 4.92654 15.8452C4.98836 16.2882 5.07738 16.715 5.19358 17.1254ZM11.4978 17.1254H17.5026C17.5783 16.6763 17.6333 16.2399 17.6675 15.8162C17.7015 15.3924 17.7186 14.9536 17.7186 14.4997C17.7186 14.0457 17.7015 13.6069 17.6675 13.1832C17.6333 12.7595 17.5783 12.3231 17.5026 11.874H11.4978C11.422 12.3231 11.3671 12.7595 11.3328 13.1832C11.2988 13.6069 11.2818 14.0457 11.2818 14.4997C11.2818 14.9536 11.2988 15.3924 11.3328 15.8162C11.3671 16.2399 11.422 16.6763 11.4978 17.1254ZM19.3148 17.1254H23.8067C23.9229 16.715 24.012 16.2882 24.0738 15.8452C24.1358 15.4021 24.1668 14.9536 24.1668 14.4997C24.1668 14.0457 24.1358 13.5973 24.0738 13.1542C24.012 12.7111 23.9229 12.2844 23.8067 11.874H19.3148C19.3907 12.3231 19.4458 12.7634 19.48 13.195C19.514 13.6264 19.5311 14.0613 19.5311 14.4997C19.5311 14.9381 19.514 15.373 19.48 15.8044C19.4458 16.2359 19.3907 16.6763 19.3148 17.1254ZM18.9477 10.0615H23.0467C22.4009 8.79111 21.5508 7.73683 20.4965 6.89865C19.4422 6.06067 18.2234 5.48752 16.8401 5.1792C17.3033 5.88245 17.7153 6.65165 18.0762 7.48681C18.4373 8.32177 18.7278 9.17999 18.9477 10.0615ZM11.9137 10.0615H17.0866C16.8061 9.0513 16.4532 8.12058 16.0281 7.26931C15.6028 6.41804 15.0935 5.6145 14.5002 4.85868C13.9069 5.6145 13.3976 6.41804 12.9722 7.26931C12.5471 8.12058 12.1943 9.0513 11.9137 10.0615ZM5.95362 10.0615H10.0526C10.2725 9.17999 10.563 8.32177 10.9241 7.48681C11.285 6.65165 11.697 5.88245 12.1602 5.1792C10.769 5.48752 9.54831 6.06269 8.49807 6.9047C7.44762 7.7465 6.59948 8.79876 5.95362 10.0615Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.visual {
    height: 900px;
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
}
.visual h2 {
    font-family: 'Gmarket Sans';
    font-size: 50px;
    font-weight: 700;
    line-height: 1.1;
    padding: 638px 0 11px 0;
}