@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(font.css);
@import url(common.css);

.icon h2 {
    color: #1d1d1d;
    font-size: 45px;
    font-weight: 800;
    margin: 121px 0 17px 0;
}
.icon h3 {
    color: #1d1d1d;
    font-size: 35px;
    font-weight: 800;
    margin: 50px 0 17px 0;
}
/* 
    위에 요소의 하단여백(margin)이  50px이고
    하단 요소의 상단여백(margin)이 100px이면
    둘 사이의 여백은 100px 
    margin이 중복이 되면 둘중에 큰값만 적용됨.
*/

.svg_img .more {
    margin: 50px 0; /* 두개만 쓰면 위아래 / 좌우 */
}
.svg_img .more a {
    display: flex;
    align-items: center;
    width: 149px; 
    border: 1px solid #999;
    padding: 8px 14px 8px 22px;
    border-radius: 20px;
}
.svg_img .more a strong {
    margin-right: 22px;
}
.svg_img .list ul {
    display: flex;
}
.svg_img .list ul li {
    width: 100px;
    margin-right: 10px;
}
.svg_img .list ul li a {
    display: block;
    text-align: center;
}
.svg_img .list ul li a .photo {
    width: 70px;
    height: 70px;
    background-color: #f4f4f4;
    border-radius: 50%;
    display: inline-block;
    /* block요소는 text-align:center로 정렬 불가
       그럼 inline-block 주면됨 */
    padding-top: 20px; /* 이미지를 하단으로 미는여백 */
    margin-bottom: 11px; /* 아래 글자랑 여백 */
}

.svg_bg .more {
    margin: 50px 0;
}
.svg_bg .more a {
    display: inline-block;
    border: 1px solid #999;
    padding: 8px 53px 8px 22px;
    border-radius: 20px;
    background: url(../images/more_icon.png) no-repeat right 14px top 10px;
}
.svg_bg .more a:hover {
    border-color: #1A73E8;
    background-color: #1A73E8;
    color: #fff;
    background-image: url(../images/more_icon_w.png);
}
.svg_bg .list ul {
    display: flex;
}
.svg_bg .list ul li {
    width: 100px;
    margin-right: 10px;
}
.svg_bg .list ul li a {
    display: block;
    text-align: center;
}
.svg_bg .list ul li a i {
    width: 70px;
    height: 70px;
    background-color: #f4f4f4;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 11px; /* 아래 글자랑 여백 */
    /* 모든 배경의 위치와 반복값은 같고, 경로만 다르니까 - i한테는 겹치는값 */
    background-repeat: no-repeat;
    background-position: center center;
}
.svg_bg .list ul li.ico1 a i {
    background-image: url(../images/link_icon1.svg);
}
.svg_bg .list ul li.ico2 a i {
    background-image: url(../images/link_icon2.svg);
}
.svg_bg .list ul li.ico3 a i {
    background-image: url(../images/link_icon3.svg);
}
.svg_bg .list ul li.ico4 a i {
    background-image: url(../images/link_icon4.svg);
}
.svg_bg .list ul li a:hover i {
    background-color: #1A73E8;
}
.svg_bg .list ul li.ico1 a:hover i {
    background-image: url(../images/link_icon1_w.svg);
}
.svg_bg .list ul li.ico2 a:hover i {
    background-image: url(../images/link_icon2_w.svg);
}
.svg_bg .list ul li.ico3 a:hover i {
    background-image: url(../images/link_icon3_w.svg);
}
.svg_bg .list ul li.ico4 a:hover i {
    background-image: url(../images/link_icon4_w.svg);
}

.svg_before .more {
    margin: 50px 0;
}
.svg_before .more a {
    display: inline-block;
    border: 1px solid #999;
    padding: 8px 53px 8px 22px;
    border-radius: 20px;
    position: relative; /* after 정렬의 기준점 */
}
.svg_before .more a::after {
    content: "";
    position: absolute;
    right: 14px; /* 아이콘의 위치 조정 */
    top: 10px;
    width: 17px; /* 배경이 들어갈 넓이와 높이가 필요 */
    height: 17px;
    background: url(../images/more_icon.png) no-repeat center center;
}
.svg_before .more a:hover::after {
    background-image: url(../images/more_icon_w.png);
}
.svg_before .more a:hover {
    border-color: #1A73E8;
    background-color: #1A73E8;
    color: #fff;
}
.svg_before .list ul {
    display: flex;
}
.svg_before .list ul li {
    width: 100px;
    margin-right: 10px;
}
.svg_before .list ul li a {
    display: block;
    text-align: center;
    position: relative; /* before 정렬의 기준 */
    padding-top: 81px; /* 글자를 아래로 내리기 위해서 */
}
/* a사이즈는 현재 100px인데 a:before가 70px이고 
   이걸 a안에 가운데 정렬을 하고 싶음 
   1. left를 15px을 줌 (100 - 70 = 30 / 2 = 15)
   2. left를 50%로 줘서 가운데에서 시작하고 (50%)
       넓이의 절반을 빼줌
       width : calc(50% - 35px)
   3. left를 50%를 줘서 가운데에서 시작하고 (50%)
       transform: translateX(-50%) 
      너의 넓이의 절반을 왼쪽으로 이동 ...
      ==> 장점 넓이를 몰라도 줄 수가 있음
*/
.svg_before .list ul li a::before {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 50%; /* 정렬의 기준이 되는 a를 기준으로 50% */
    transform: translateX(-50%); /* before의 넓이의 50% */
    top: 0;
    width: 70px;
    height: 70px;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
}
.svg_before .list ul li.ico1 a::before {
    background-image: url(../images/link_icon1.svg);
}
.svg_before .list ul li.ico2 a::before {
    background-image: url(../images/link_icon2.svg);
}
.svg_before .list ul li.ico3 a::before {
    background-image: url(../images/link_icon3.svg);
}
.svg_before .list ul li.ico4 a::before {
    background-image: url(../images/link_icon4.svg);
}
.svg_before .list ul li a:hover::before {
    background-color: #1A73E8;
}
.svg_before .list ul li.ico1 a:hover::before {
    background-image: url(../images/link_icon1_w.svg);
}
.svg_before .list ul li.ico2 a:hover::before {
    background-image: url(../images/link_icon2_w.svg);
}
.svg_before .list ul li.ico3 a:hover::before {
    background-image: url(../images/link_icon3_w.svg);
}
.svg_before .list ul li.ico4 a:hover::before {
    background-image: url(../images/link_icon4_w.svg);
}

.google .more {
    margin: 50px 0;
}
.google .more a {
    display: inline-block;
    border: 1px solid #999;
    padding: 8px 53px 8px 22px;
    border-radius: 20px;
    position: relative; /* i 정렬의 기준점 */
}
.google .more a i {
    font-size: 17px; 
    /* 구글아이콘은 크기를 font-size로 줌 - 넓이가 17px이면 font-size도 17px */
    color: #999;
    position: absolute; /* a를 기준으로 정렬 */
    right: 14px;
    top: 10px;
}
.google .more a:hover {
    border-color: #1A73E8;
    background-color: #1A73E8;
    color: #fff;
}
.google .more a:hover i {
    color: #fff;
}

.path .more {
    margin: 50px 0;
}
.path .more a {
    border: 1px solid #999999;
    border-radius: 20px;
    /* 모서리가 완전 둥근 경우 border-radius는 
    높이의 절반 이상을 주면 됨 */
    padding: 6px 52px 4px 21px;
    display: inline-block;
    position: relative; /* after 정렬의 기준점 */
}
.path .more a::after {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    right: 14px; /* 아이콘의 위치변경 */
    top: 8px;
    width: 17px;
    height: 17px;
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.79169 9.20835H4.25002C4.04933 9.20835 3.8811 9.14047 3.74533 9.00471C3.60957 8.86894 3.54169 8.70071 3.54169 8.50002C3.54169 8.29933 3.60957 8.1311 3.74533 7.99533C3.8811 7.85957 4.04933 7.79169 4.25002 7.79169H7.79169V4.25002C7.79169 4.04933 7.85957 3.8811 7.99533 3.74533C8.1311 3.60957 8.29933 3.54169 8.50002 3.54169C8.70071 3.54169 8.86894 3.60957 9.00471 3.74533C9.14047 3.8811 9.20835 4.04933 9.20835 4.25002V7.79169H12.75C12.9507 7.79169 13.1189 7.85957 13.2547 7.99533C13.3905 8.1311 13.4584 8.29933 13.4584 8.50002C13.4584 8.70071 13.3905 8.86894 13.2547 9.00471C13.1189 9.14047 12.9507 9.20835 12.75 9.20835H9.20835V12.75C9.20835 12.9507 9.14047 13.1189 9.00471 13.2547C8.86894 13.3905 8.70071 13.4584 8.50002 13.4584C8.29933 13.4584 8.1311 13.3905 7.99533 13.2547C7.85957 13.1189 7.79169 12.9507 7.79169 12.75V9.20835Z' fill='%23999999'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: center center;
}
.path .more a:hover {
    border-color: #1A73E8;
    background-color: #1A73E8;
    color: #fff;
}
.path .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.79169 9.20835H4.25002C4.04933 9.20835 3.8811 9.14047 3.74533 9.00471C3.60957 8.86894 3.54169 8.70071 3.54169 8.50002C3.54169 8.29933 3.60957 8.1311 3.74533 7.99533C3.8811 7.85957 4.04933 7.79169 4.25002 7.79169H7.79169V4.25002C7.79169 4.04933 7.85957 3.8811 7.99533 3.74533C8.1311 3.60957 8.29933 3.54169 8.50002 3.54169C8.70071 3.54169 8.86894 3.60957 9.00471 3.74533C9.14047 3.8811 9.20835 4.04933 9.20835 4.25002V7.79169H12.75C12.9507 7.79169 13.1189 7.85957 13.2547 7.99533C13.3905 8.1311 13.4584 8.29933 13.4584 8.50002C13.4584 8.70071 13.3905 8.86894 13.2547 9.00471C13.1189 9.14047 12.9507 9.20835 12.75 9.20835H9.20835V12.75C9.20835 12.9507 9.14047 13.1189 9.00471 13.2547C8.86894 13.3905 8.70071 13.4584 8.50002 13.4584C8.29933 13.4584 8.1311 13.3905 7.99533 13.2547C7.85957 13.1189 7.79169 12.9507 7.79169 12.75V9.20835Z' fill='%23ffffff'/%3E%3C/svg%3E ");
}
.path .list ul {
    display: flex;
}
.path .list ul li {
    width: 100px;
    margin-right: 10px;
}
.path .list ul li a {
    display: block;
    /* 글자의 서체/색상/크기/정렬 - a태그에 주는 것이 좋음 */
    text-align: center;
    position: relative; /* after/before의 정렬의 기준 */
    padding-top: 80px;
}
.path .list ul li a::before {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 50%; /* 정렬의 기준 a의 넓이의 50%에서 동그라미를 그리기 시작 */
    top: 0;
    transform: translateX(-50%); /* before의 넓이 50%를 왼쪽으로 이동 */
    width: 70px;
    height: 70px;
    border-radius: 50%; /* 동그라미의 경우 사이즈와 상관없이 50%를 주면됨 */
    background-color: #f4f4f4;
}
.path .list ul li a::after {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; 
    /* 내가 지정한 width/height에 아이콘이 짤리지 않고 딱 맞게 리사이즈되는 명령 */
}
.path .list ul li.ico1 a::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 26.5C5.8125 26.5 5.22396 26.2552 4.73438 25.7656C4.24479 25.276 4 24.6875 4 24V11.5C4 10.8125 4.24479 10.224 4.73438 9.73438C5.22396 9.24479 5.8125 9 6.5 9H9V6.5C9 5.8125 9.24479 5.22396 9.73438 4.73438C10.224 4.24479 10.8125 4 11.5 4H19C19.6875 4 20.276 4.24479 20.7656 4.73438C21.2552 5.22396 21.5 5.8125 21.5 6.5V14H24C24.6875 14 25.276 14.2448 25.7656 14.7344C26.2552 15.224 26.5 15.8125 26.5 16.5V24C26.5 24.6875 26.2552 25.276 25.7656 25.7656C25.276 26.2552 24.6875 26.5 24 26.5H16.5V21.5H14V26.5H6.5ZM6.5 24H9V21.5H6.5V24ZM6.5 19H9V16.5H6.5V19ZM6.5 14H9V11.5H6.5V14ZM11.5 19H14V16.5H11.5V19ZM11.5 14H14V11.5H11.5V14ZM11.5 9H14V6.5H11.5V9ZM16.5 19H19V16.5H16.5V19ZM16.5 14H19V11.5H16.5V14ZM16.5 9H19V6.5H16.5V9ZM21.5 24H24V21.5H21.5V24ZM21.5 19H24V16.5H21.5V19Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico2 a::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25 21.5C1.25 20.7917 1.43229 20.1406 1.79688 19.5469C2.16146 18.9531 2.64583 18.5 3.25 18.1875C4.54167 17.5417 5.85417 17.0573 7.1875 16.7344C8.52083 16.4115 9.875 16.25 11.25 16.25C12.625 16.25 13.9792 16.4115 15.3125 16.7344C16.6458 17.0573 17.9583 17.5417 19.25 18.1875C19.8542 18.5 20.3385 18.9531 20.7031 19.5469C21.0677 20.1406 21.25 20.7917 21.25 21.5V22.5C21.25 23.1875 21.0052 23.776 20.5156 24.2656C20.026 24.7552 19.4375 25 18.75 25H3.75C3.0625 25 2.47396 24.7552 1.98438 24.2656C1.49479 23.776 1.25 23.1875 1.25 22.5V21.5ZM26.25 25H23.0625C23.2917 24.625 23.4635 24.224 23.5781 23.7969C23.6927 23.3698 23.75 22.9375 23.75 22.5V21.25C23.75 20.3333 23.4948 19.4531 22.9844 18.6094C22.474 17.7656 21.75 17.0417 20.8125 16.4375C21.875 16.5625 22.875 16.776 23.8125 17.0781C24.75 17.3802 25.625 17.75 26.4375 18.1875C27.1875 18.6042 27.7604 19.0677 28.1562 19.5781C28.5521 20.0885 28.75 20.6458 28.75 21.25V22.5C28.75 23.1875 28.5052 23.776 28.0156 24.2656C27.526 24.7552 26.9375 25 26.25 25ZM11.25 15C9.875 15 8.69792 14.5104 7.71875 13.5312C6.73958 12.5521 6.25 11.375 6.25 10C6.25 8.625 6.73958 7.44792 7.71875 6.46875C8.69792 5.48958 9.875 5 11.25 5C12.625 5 13.8021 5.48958 14.7812 6.46875C15.7604 7.44792 16.25 8.625 16.25 10C16.25 11.375 15.7604 12.5521 14.7812 13.5312C13.8021 14.5104 12.625 15 11.25 15ZM23.75 10C23.75 11.375 23.2604 12.5521 22.2812 13.5312C21.3021 14.5104 20.125 15 18.75 15C18.5208 15 18.2292 14.974 17.875 14.9219C17.5208 14.8698 17.2292 14.8125 17 14.75C17.5625 14.0833 17.9948 13.3438 18.2969 12.5312C18.599 11.7188 18.75 10.875 18.75 10C18.75 9.125 18.599 8.28125 18.2969 7.46875C17.9948 6.65625 17.5625 5.91667 17 5.25C17.2917 5.14583 17.5833 5.07812 17.875 5.04688C18.1667 5.01562 18.4583 5 18.75 5C20.125 5 21.3021 5.48958 22.2812 6.46875C23.2604 7.44792 23.75 8.625 23.75 10ZM3.75 22.5H18.75V21.5C18.75 21.2708 18.6927 21.0625 18.5781 20.875C18.4635 20.6875 18.3125 20.5417 18.125 20.4375C17 19.875 15.8646 19.4531 14.7188 19.1719C13.5729 18.8906 12.4167 18.75 11.25 18.75C10.0833 18.75 8.92708 18.8906 7.78125 19.1719C6.63542 19.4531 5.5 19.875 4.375 20.4375C4.1875 20.5417 4.03646 20.6875 3.92188 20.875C3.80729 21.0625 3.75 21.2708 3.75 21.5V22.5ZM11.25 12.5C11.9375 12.5 12.526 12.2552 13.0156 11.7656C13.5052 11.276 13.75 10.6875 13.75 10C13.75 9.3125 13.5052 8.72396 13.0156 8.23438C12.526 7.74479 11.9375 7.5 11.25 7.5C10.5625 7.5 9.97396 7.74479 9.48438 8.23438C8.99479 8.72396 8.75 9.3125 8.75 10C8.75 10.6875 8.99479 11.276 9.48438 11.7656C9.97396 12.2552 10.5625 12.5 11.25 12.5Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico3 a::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 26.25C5.5625 26.25 4.97396 26.0052 4.48438 25.5156C3.99479 25.026 3.75 24.4375 3.75 23.75V6.25C3.75 5.5625 3.99479 4.97396 4.48438 4.48438C4.97396 3.99479 5.5625 3.75 6.25 3.75H11.5C11.7708 3 12.224 2.39583 12.8594 1.9375C13.4948 1.47917 14.2083 1.25 15 1.25C15.7917 1.25 16.5052 1.47917 17.1406 1.9375C17.776 2.39583 18.2292 3 18.5 3.75H23.75C24.4375 3.75 25.026 3.99479 25.5156 4.48438C26.0052 4.97396 26.25 5.5625 26.25 6.25V23.75C26.25 24.4375 26.0052 25.026 25.5156 25.5156C25.026 26.0052 24.4375 26.25 23.75 26.25H6.25ZM6.25 23.75H23.75V6.25H6.25V23.75ZM10 21.25H16.25C16.6042 21.25 16.901 21.1302 17.1406 20.8906C17.3802 20.651 17.5 20.3542 17.5 20C17.5 19.6458 17.3802 19.349 17.1406 19.1094C16.901 18.8698 16.6042 18.75 16.25 18.75H10C9.64583 18.75 9.34896 18.8698 9.10938 19.1094C8.86979 19.349 8.75 19.6458 8.75 20C8.75 20.3542 8.86979 20.651 9.10938 20.8906C9.34896 21.1302 9.64583 21.25 10 21.25ZM10 16.25H20C20.3542 16.25 20.651 16.1302 20.8906 15.8906C21.1302 15.651 21.25 15.3542 21.25 15C21.25 14.6458 21.1302 14.349 20.8906 14.1094C20.651 13.8698 20.3542 13.75 20 13.75H10C9.64583 13.75 9.34896 13.8698 9.10938 14.1094C8.86979 14.349 8.75 14.6458 8.75 15C8.75 15.3542 8.86979 15.651 9.10938 15.8906C9.34896 16.1302 9.64583 16.25 10 16.25ZM10 11.25H20C20.3542 11.25 20.651 11.1302 20.8906 10.8906C21.1302 10.651 21.25 10.3542 21.25 10C21.25 9.64583 21.1302 9.34896 20.8906 9.10938C20.651 8.86979 20.3542 8.75 20 8.75H10C9.64583 8.75 9.34896 8.86979 9.10938 9.10938C8.86979 9.34896 8.75 9.64583 8.75 10C8.75 10.3542 8.86979 10.651 9.10938 10.8906C9.34896 11.1302 9.64583 11.25 10 11.25ZM15 5.3125C15.2708 5.3125 15.4948 5.22396 15.6719 5.04688C15.849 4.86979 15.9375 4.64583 15.9375 4.375C15.9375 4.10417 15.849 3.88021 15.6719 3.70312C15.4948 3.52604 15.2708 3.4375 15 3.4375C14.7292 3.4375 14.5052 3.52604 14.3281 3.70312C14.151 3.88021 14.0625 4.10417 14.0625 4.375C14.0625 4.64583 14.151 4.86979 14.3281 5.04688C14.5052 5.22396 14.7292 5.3125 15 5.3125Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico4 a::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 26.25C14.6458 26.25 14.349 26.1302 14.1094 25.8906C13.8698 25.651 13.75 25.3542 13.75 25C13.75 24.6458 13.8698 24.349 14.1094 24.1094C14.349 23.8698 14.6458 23.75 15 23.75H23.75V14.875C23.75 12.4375 22.901 10.3698 21.2031 8.67188C19.5052 6.97396 17.4375 6.125 15 6.125C12.5625 6.125 10.4948 6.97396 8.79688 8.67188C7.09896 10.3698 6.25 12.4375 6.25 14.875V21.25C6.25 21.6042 6.13021 21.901 5.89062 22.1406C5.65104 22.3802 5.35417 22.5 5 22.5C4.3125 22.5 3.72396 22.2552 3.23438 21.7656C2.74479 21.276 2.5 20.6875 2.5 20V17.5C2.5 17.0625 2.60938 16.651 2.82812 16.2656C3.04688 15.8802 3.35417 15.5729 3.75 15.3438L3.84375 13.6875C4.01042 12.2708 4.42188 10.9583 5.07812 9.75C5.73438 8.54167 6.55729 7.48958 7.54688 6.59375C8.53646 5.69792 9.67188 5 10.9531 4.5C12.2344 4 13.5833 3.75 15 3.75C16.4167 3.75 17.7604 4 19.0312 4.5C20.3021 5 21.4375 5.69271 22.4375 6.57812C23.4375 7.46354 24.2604 8.51042 24.9062 9.71875C25.5521 10.9271 25.9688 12.2396 26.1562 13.6562L26.25 15.2812C26.6458 15.4688 26.9531 15.75 27.1719 16.125C27.3906 16.5 27.5 16.8958 27.5 17.3125V20.1875C27.5 20.6042 27.3906 21 27.1719 21.375C26.9531 21.75 26.6458 22.0312 26.25 22.2188V23.75C26.25 24.4375 26.0052 25.026 25.5156 25.5156C25.026 26.0052 24.4375 26.25 23.75 26.25H15ZM11.25 17.5C10.8958 17.5 10.599 17.3802 10.3594 17.1406C10.1198 16.901 10 16.6042 10 16.25C10 15.8958 10.1198 15.599 10.3594 15.3594C10.599 15.1198 10.8958 15 11.25 15C11.6042 15 11.901 15.1198 12.1406 15.3594C12.3802 15.599 12.5 15.8958 12.5 16.25C12.5 16.6042 12.3802 16.901 12.1406 17.1406C11.901 17.3802 11.6042 17.5 11.25 17.5ZM18.75 17.5C18.3958 17.5 18.099 17.3802 17.8594 17.1406C17.6198 16.901 17.5 16.6042 17.5 16.25C17.5 15.8958 17.6198 15.599 17.8594 15.3594C18.099 15.1198 18.3958 15 18.75 15C19.1042 15 19.401 15.1198 19.6406 15.3594C19.8802 15.599 20 15.8958 20 16.25C20 16.6042 19.8802 16.901 19.6406 17.1406C19.401 17.3802 19.1042 17.5 18.75 17.5ZM7.53125 15.5625C7.38542 13.3542 8.05208 11.4583 9.53125 9.875C11.0104 8.29167 12.8542 7.5 15.0625 7.5C16.9167 7.5 18.5469 8.08854 19.9531 9.26562C21.3594 10.4427 22.2083 11.9479 22.5 13.7812C20.6042 13.7604 18.8594 13.25 17.2656 12.25C15.6719 11.25 14.4479 9.89583 13.5938 8.1875C13.2604 9.85417 12.5573 11.3385 11.4844 12.6406C10.4115 13.9427 9.09375 14.9167 7.53125 15.5625Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}
.path .list ul li a:hover::before {
    background-color: #1A73E8;
}
/* 아이콘 색상 변경 
   1. 코드에서 fill='' 이렇게 되어 있는 것을 찾음
   2. %23은 #을 대체한 언어 - 색상코드 아님 (뒤에 있는 것만 색상코드)
   3. 색상 코드를 변경 */
.path .list ul li.ico1 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 26.5C5.8125 26.5 5.22396 26.2552 4.73438 25.7656C4.24479 25.276 4 24.6875 4 24V11.5C4 10.8125 4.24479 10.224 4.73438 9.73438C5.22396 9.24479 5.8125 9 6.5 9H9V6.5C9 5.8125 9.24479 5.22396 9.73438 4.73438C10.224 4.24479 10.8125 4 11.5 4H19C19.6875 4 20.276 4.24479 20.7656 4.73438C21.2552 5.22396 21.5 5.8125 21.5 6.5V14H24C24.6875 14 25.276 14.2448 25.7656 14.7344C26.2552 15.224 26.5 15.8125 26.5 16.5V24C26.5 24.6875 26.2552 25.276 25.7656 25.7656C25.276 26.2552 24.6875 26.5 24 26.5H16.5V21.5H14V26.5H6.5ZM6.5 24H9V21.5H6.5V24ZM6.5 19H9V16.5H6.5V19ZM6.5 14H9V11.5H6.5V14ZM11.5 19H14V16.5H11.5V19ZM11.5 14H14V11.5H11.5V14ZM11.5 9H14V6.5H11.5V9ZM16.5 19H19V16.5H16.5V19ZM16.5 14H19V11.5H16.5V14ZM16.5 9H19V6.5H16.5V9ZM21.5 24H24V21.5H21.5V24ZM21.5 19H24V16.5H21.5V19Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico2 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25 21.5C1.25 20.7917 1.43229 20.1406 1.79688 19.5469C2.16146 18.9531 2.64583 18.5 3.25 18.1875C4.54167 17.5417 5.85417 17.0573 7.1875 16.7344C8.52083 16.4115 9.875 16.25 11.25 16.25C12.625 16.25 13.9792 16.4115 15.3125 16.7344C16.6458 17.0573 17.9583 17.5417 19.25 18.1875C19.8542 18.5 20.3385 18.9531 20.7031 19.5469C21.0677 20.1406 21.25 20.7917 21.25 21.5V22.5C21.25 23.1875 21.0052 23.776 20.5156 24.2656C20.026 24.7552 19.4375 25 18.75 25H3.75C3.0625 25 2.47396 24.7552 1.98438 24.2656C1.49479 23.776 1.25 23.1875 1.25 22.5V21.5ZM26.25 25H23.0625C23.2917 24.625 23.4635 24.224 23.5781 23.7969C23.6927 23.3698 23.75 22.9375 23.75 22.5V21.25C23.75 20.3333 23.4948 19.4531 22.9844 18.6094C22.474 17.7656 21.75 17.0417 20.8125 16.4375C21.875 16.5625 22.875 16.776 23.8125 17.0781C24.75 17.3802 25.625 17.75 26.4375 18.1875C27.1875 18.6042 27.7604 19.0677 28.1562 19.5781C28.5521 20.0885 28.75 20.6458 28.75 21.25V22.5C28.75 23.1875 28.5052 23.776 28.0156 24.2656C27.526 24.7552 26.9375 25 26.25 25ZM11.25 15C9.875 15 8.69792 14.5104 7.71875 13.5312C6.73958 12.5521 6.25 11.375 6.25 10C6.25 8.625 6.73958 7.44792 7.71875 6.46875C8.69792 5.48958 9.875 5 11.25 5C12.625 5 13.8021 5.48958 14.7812 6.46875C15.7604 7.44792 16.25 8.625 16.25 10C16.25 11.375 15.7604 12.5521 14.7812 13.5312C13.8021 14.5104 12.625 15 11.25 15ZM23.75 10C23.75 11.375 23.2604 12.5521 22.2812 13.5312C21.3021 14.5104 20.125 15 18.75 15C18.5208 15 18.2292 14.974 17.875 14.9219C17.5208 14.8698 17.2292 14.8125 17 14.75C17.5625 14.0833 17.9948 13.3438 18.2969 12.5312C18.599 11.7188 18.75 10.875 18.75 10C18.75 9.125 18.599 8.28125 18.2969 7.46875C17.9948 6.65625 17.5625 5.91667 17 5.25C17.2917 5.14583 17.5833 5.07812 17.875 5.04688C18.1667 5.01562 18.4583 5 18.75 5C20.125 5 21.3021 5.48958 22.2812 6.46875C23.2604 7.44792 23.75 8.625 23.75 10ZM3.75 22.5H18.75V21.5C18.75 21.2708 18.6927 21.0625 18.5781 20.875C18.4635 20.6875 18.3125 20.5417 18.125 20.4375C17 19.875 15.8646 19.4531 14.7188 19.1719C13.5729 18.8906 12.4167 18.75 11.25 18.75C10.0833 18.75 8.92708 18.8906 7.78125 19.1719C6.63542 19.4531 5.5 19.875 4.375 20.4375C4.1875 20.5417 4.03646 20.6875 3.92188 20.875C3.80729 21.0625 3.75 21.2708 3.75 21.5V22.5ZM11.25 12.5C11.9375 12.5 12.526 12.2552 13.0156 11.7656C13.5052 11.276 13.75 10.6875 13.75 10C13.75 9.3125 13.5052 8.72396 13.0156 8.23438C12.526 7.74479 11.9375 7.5 11.25 7.5C10.5625 7.5 9.97396 7.74479 9.48438 8.23438C8.99479 8.72396 8.75 9.3125 8.75 10C8.75 10.6875 8.99479 11.276 9.48438 11.7656C9.97396 12.2552 10.5625 12.5 11.25 12.5Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico3 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.25 26.25C5.5625 26.25 4.97396 26.0052 4.48438 25.5156C3.99479 25.026 3.75 24.4375 3.75 23.75V6.25C3.75 5.5625 3.99479 4.97396 4.48438 4.48438C4.97396 3.99479 5.5625 3.75 6.25 3.75H11.5C11.7708 3 12.224 2.39583 12.8594 1.9375C13.4948 1.47917 14.2083 1.25 15 1.25C15.7917 1.25 16.5052 1.47917 17.1406 1.9375C17.776 2.39583 18.2292 3 18.5 3.75H23.75C24.4375 3.75 25.026 3.99479 25.5156 4.48438C26.0052 4.97396 26.25 5.5625 26.25 6.25V23.75C26.25 24.4375 26.0052 25.026 25.5156 25.5156C25.026 26.0052 24.4375 26.25 23.75 26.25H6.25ZM6.25 23.75H23.75V6.25H6.25V23.75ZM10 21.25H16.25C16.6042 21.25 16.901 21.1302 17.1406 20.8906C17.3802 20.651 17.5 20.3542 17.5 20C17.5 19.6458 17.3802 19.349 17.1406 19.1094C16.901 18.8698 16.6042 18.75 16.25 18.75H10C9.64583 18.75 9.34896 18.8698 9.10938 19.1094C8.86979 19.349 8.75 19.6458 8.75 20C8.75 20.3542 8.86979 20.651 9.10938 20.8906C9.34896 21.1302 9.64583 21.25 10 21.25ZM10 16.25H20C20.3542 16.25 20.651 16.1302 20.8906 15.8906C21.1302 15.651 21.25 15.3542 21.25 15C21.25 14.6458 21.1302 14.349 20.8906 14.1094C20.651 13.8698 20.3542 13.75 20 13.75H10C9.64583 13.75 9.34896 13.8698 9.10938 14.1094C8.86979 14.349 8.75 14.6458 8.75 15C8.75 15.3542 8.86979 15.651 9.10938 15.8906C9.34896 16.1302 9.64583 16.25 10 16.25ZM10 11.25H20C20.3542 11.25 20.651 11.1302 20.8906 10.8906C21.1302 10.651 21.25 10.3542 21.25 10C21.25 9.64583 21.1302 9.34896 20.8906 9.10938C20.651 8.86979 20.3542 8.75 20 8.75H10C9.64583 8.75 9.34896 8.86979 9.10938 9.10938C8.86979 9.34896 8.75 9.64583 8.75 10C8.75 10.3542 8.86979 10.651 9.10938 10.8906C9.34896 11.1302 9.64583 11.25 10 11.25ZM15 5.3125C15.2708 5.3125 15.4948 5.22396 15.6719 5.04688C15.849 4.86979 15.9375 4.64583 15.9375 4.375C15.9375 4.10417 15.849 3.88021 15.6719 3.70312C15.4948 3.52604 15.2708 3.4375 15 3.4375C14.7292 3.4375 14.5052 3.52604 14.3281 3.70312C14.151 3.88021 14.0625 4.10417 14.0625 4.375C14.0625 4.64583 14.151 4.86979 14.3281 5.04688C14.5052 5.22396 14.7292 5.3125 15 5.3125Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.path .list ul li.ico4 a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 26.25C14.6458 26.25 14.349 26.1302 14.1094 25.8906C13.8698 25.651 13.75 25.3542 13.75 25C13.75 24.6458 13.8698 24.349 14.1094 24.1094C14.349 23.8698 14.6458 23.75 15 23.75H23.75V14.875C23.75 12.4375 22.901 10.3698 21.2031 8.67188C19.5052 6.97396 17.4375 6.125 15 6.125C12.5625 6.125 10.4948 6.97396 8.79688 8.67188C7.09896 10.3698 6.25 12.4375 6.25 14.875V21.25C6.25 21.6042 6.13021 21.901 5.89062 22.1406C5.65104 22.3802 5.35417 22.5 5 22.5C4.3125 22.5 3.72396 22.2552 3.23438 21.7656C2.74479 21.276 2.5 20.6875 2.5 20V17.5C2.5 17.0625 2.60938 16.651 2.82812 16.2656C3.04688 15.8802 3.35417 15.5729 3.75 15.3438L3.84375 13.6875C4.01042 12.2708 4.42188 10.9583 5.07812 9.75C5.73438 8.54167 6.55729 7.48958 7.54688 6.59375C8.53646 5.69792 9.67188 5 10.9531 4.5C12.2344 4 13.5833 3.75 15 3.75C16.4167 3.75 17.7604 4 19.0312 4.5C20.3021 5 21.4375 5.69271 22.4375 6.57812C23.4375 7.46354 24.2604 8.51042 24.9062 9.71875C25.5521 10.9271 25.9688 12.2396 26.1562 13.6562L26.25 15.2812C26.6458 15.4688 26.9531 15.75 27.1719 16.125C27.3906 16.5 27.5 16.8958 27.5 17.3125V20.1875C27.5 20.6042 27.3906 21 27.1719 21.375C26.9531 21.75 26.6458 22.0312 26.25 22.2188V23.75C26.25 24.4375 26.0052 25.026 25.5156 25.5156C25.026 26.0052 24.4375 26.25 23.75 26.25H15ZM11.25 17.5C10.8958 17.5 10.599 17.3802 10.3594 17.1406C10.1198 16.901 10 16.6042 10 16.25C10 15.8958 10.1198 15.599 10.3594 15.3594C10.599 15.1198 10.8958 15 11.25 15C11.6042 15 11.901 15.1198 12.1406 15.3594C12.3802 15.599 12.5 15.8958 12.5 16.25C12.5 16.6042 12.3802 16.901 12.1406 17.1406C11.901 17.3802 11.6042 17.5 11.25 17.5ZM18.75 17.5C18.3958 17.5 18.099 17.3802 17.8594 17.1406C17.6198 16.901 17.5 16.6042 17.5 16.25C17.5 15.8958 17.6198 15.599 17.8594 15.3594C18.099 15.1198 18.3958 15 18.75 15C19.1042 15 19.401 15.1198 19.6406 15.3594C19.8802 15.599 20 15.8958 20 16.25C20 16.6042 19.8802 16.901 19.6406 17.1406C19.401 17.3802 19.1042 17.5 18.75 17.5ZM7.53125 15.5625C7.38542 13.3542 8.05208 11.4583 9.53125 9.875C11.0104 8.29167 12.8542 7.5 15.0625 7.5C16.9167 7.5 18.5469 8.08854 19.9531 9.26562C21.3594 10.4427 22.2083 11.9479 22.5 13.7812C20.6042 13.7604 18.8594 13.25 17.2656 12.25C15.6719 11.25 14.4479 9.89583 13.5938 8.1875C13.2604 9.85417 12.5573 11.3385 11.4844 12.6406C10.4115 13.9427 9.09375 14.9167 7.53125 15.5625Z' fill='%23fff'/%3E%3C/svg%3E%0A");
}

body {
    margin-bottom: 500px;
}